header
{
	// Conteneur de l'en-tête.
	height: 6rem;
	justify-content: space-between;

	@media screen and (min-width: 320px) and (max-width: 768px)
	{
		// Modification des marges extérieures sur les
		//  écrans de petite taille.
		margin-right: 3rem;
	}

	@media screen and (min-width: 768px) and (max-width: 1024px)
	{
		// Modification des marges extérieures sur les
		//  écrans de taille moyenne.
		margin-right: 1rem;
	}

	> a
	{
		// Logo du site.
		width: 3rem;
		height: 3rem;
		margin: 0.5rem;
		font-size: 1.25rem;
		font-weight: 700;
		text-shadow: 0 0.25rem 0.125rem rgba(0, 0, 0, 0.2);

		@include themeColors()
		{
			color: getThemedColor("primary");
			border: 0.2rem solid getThemedColor("primary");
		}
	}

	ul
	{
		// Liste des liens de navigation.
		@media screen and (max-width: 768px)
		{
			// Modification de la disposition des éléments
			//  sur les écrans de petite taille.
			width: 0;
			inset: 5rem 0 0;
			padding: 4rem 0;
			position: absolute;
			overflow: hidden;
			transition: width 200ms ease-in-out;
			flex-direction: column;

			@include themeColors()
			{
				background-color: getThemedColor("background");
			}

			&[class = show]
			{
				// Affichage du menu de navigation.
				width: 100%;
			}
		}

		li
		{
			// Éléments de la barre de navigation.
			@media screen and (max-width: 768px)
			{
				// Réduction de la marge entre chaque élément
				//  sur les écrans de petite taille.
				margin: 0.5rem 0;
			}

			a
			{
				// Liens de navigation.
				padding: 0 0 0.15rem 0;
				position: relative;

				@include themeColors()
				{
					color: getThemedColor("foreground-alt");
				}

				@media (hover: hover) and (pointer: fine)
				{
					// Animation de survol et de sélection
					//  sur les écrans à pointeur (souris).
					&:hover
					{
						// Animation de survol.
						@include themeColors()
						{
							color: getThemedColor("primary");
						}

						&::before
						{
							width: 100%;
						}
					}

					&:active
					{
						// Animation de sélection.
						@include themeColors()
						{
							color: getThemedColor("primary-alt");
						}
					}
				}

				&::before
				{
					// Animation de sélection.
					width: 0%;
					bottom: 0;
					height: 0.15rem;
					display: inline;
					content: "";
					position: absolute;
					transition: width 200ms ease-out;

					@include themeColors()
					{
						background-color: getThemedColor("primary");
					}
				}
			}
		}
	}

	svg[class *= fa]
	{
		// Icône des boutons.
		width: 1.75rem;
		height: 1.75rem;
		margin: 0.5rem;
		vertical-align: middle;

		@include themeColors()
		{
			color: getThemedColor("foreground-alt");
		}

		&[class *= fa-bars]
		{
			// Icône du bouton d'affichage du menu de navigation.
			display: none;

			@media screen and (max-width: 768px)
			{
				// Affichage de l'icône sur les écrans de petite taille.
				display: flex;
			}
		}
	}
}