**/.git*
**/.husky
**/.next
**/node_modules
**/tests
**/*.md
**/*.zip
**/*.vcl
**/*.config.*
**/.dockerignore
**/.editorconfig
**/.gitattributes
**/.gitignore
**/Dockerfile
**/compose.*
**/CODEOWNERS
**/LICENSE
**/next-env.d.ts
!next.config.ts
