// ------------------ //
// Variables globales //
// ------------------ //
$theme-color-dark: rgb(28, 158, 77);
$theme-color-bright: rgb(37, 208, 102);

@import "../../styles/legacy";

// --------------- //
// Document entier //
// --------------- //
hr
{
	// Séparateur entre les deux sections.
	margin: 0 5% 0 5%;
	border-color: rgb(161, 161, 170);
}

// ------- //
// En-tête //
// ------- //
header > img
{
	// Vagues marquant la fin de l'en-tête.
	transform: translateY(-25%);
}

// ----------------- //
// Parcours scolaire //
// ----------------- //
#school
{
	// Corps de la section.
	color: $theme-text-color;
	padding: calc(5% + 5rem) 5% 3rem 5%;

	article
	{
		// Corps de chaque partie.
		width: 50vw;
		display: table-cell;

		h3
		{
			// Titre de chaque partie.
			text-decoration: underline;
		}
	}
}

#school > h2, #work > h2
{
	// Titre de la section.
	color: white;
	margin: 0 0 4rem;
	font-size: 1.5rem;
}

#school > h3, #work > h3
{
	// Identifiant de la section.
	font-weight: 400;
	margin-bottom: 0.5rem;
}

// Liste des formations
#list ul
{
	// État initial des formation.
	padding: 0 0.5rem 0 0;
	list-style-type: none;

	li
	{
		margin: 0 0 0.5rem;
		padding: 1rem 2rem 1rem 2rem;
		position: relative;
		user-select: none;
		background-color: $theme-box-color;
		background-repeat: no-repeat;
		background-position: -1000% -1000%;

		&:before
		{
			// Barre horizontale à gauche.
			inset: 0 6px;
			width: 3px;
			content: "";
			position: absolute;
			background-color: $theme-color-bright;
		}

		&:after
		{
			// Ancre sur la barre.
			inset: calc(50% - 7.5px) 0;
			width: 15px;
			height: 15px;
			content: "";
			position: absolute;
			background-image: url("../../../public/assets/images/decorations/timeline_marker.svg");
		}

		&:hover
		{
			// Sélection d'une formation.
			background-size: cover;
			background-color: $theme-color-bright;
			background-position: 15px center;

			> h4, > h5, > p
			{
				color: transparent;
			}

			> img
			{
				display: none;
			}
		}

		h4, h5
		{
			// Titre et option du diplôme.
			color: white;
			margin: 1rem 0 1rem;
			font-size: 1.25rem;
		}

		img
		{
			// Image représentant un diplôme.
			inset: auto 0 0 auto;
			width: 3rem;
			margin: 0.25rem;
			position: absolute;
		}
	}
}

// Résumé des formations.
#summary ul
{
	// Liste non ordonnée
	padding: 0 0 0 0.5rem;
	list-style-type: none;

	li
	{
		height: 250px;
		display: table;
		overflow-y: hidden;
		line-height: 1.5rem;
		margin-bottom: 0.5rem;

		p
		{
			// Alignement du texte à la verticale
			display: table-cell;
			vertical-align: middle;
		}
	}
}

@media screen and (max-width: 1024px)
{
	// Modification de la disposition sur écrans mobiles et tablettes.
	article#summary, #list ul
	{
		// Suppression des marges du résumé de la formation.
		margin: 0;
		padding: 0;
	}

	#school article
	{
		// Taille automatique des formations.
		width: auto;
		margin: auto;
		display: block;
	}

	#school article > h3, #summary ul
	{
		// Disparition des titres et du résumé de la formation.
		display: none;
	}
}

// ---------------------------- //
// Compétences professionnelles //
// ---------------------------- //
#work
{
	// Corps de la section.
	margin: 3rem 5% 0 5%;

	@media screen and (min-width: 1024px)
	{
		// Modification des marges sur les grands écrans.
		margin-left: 12.5%;
		margin-right: 12.5%;
	}

	> h3
	{
		// Identifiant de la section.
		color: rgb(161, 161, 170);
	}

	article
	{
		// Corps de chaque article.
		padding: 2rem;
		background-image: linear-gradient(to right, $theme-color-dark, $theme-color-bright);

		h3
		{
			// Titre de chaque article.
			font-size: 1.5rem;
			margin-bottom: 2rem;
			text-decoration: underline;
		}
	}
}

// Expériences.
#experiences
{
	// Corps de l'article.
	margin-bottom: 2rem;

	ul
	{
		// Liste non ordonnée.
		padding: 0.5rem 0.5rem 0.5rem 50px;
		position: relative;
		list-style-type: none;

		&::before
		{
			// Affichage de la timeline sur la gauche.
			inset: 0 15px;
			width: 5px;
			content: "";
			position: absolute;
			background-color: white;
		}

		li
		{
			// Corps de chaque expérience.
			padding: 2rem 2rem;
			position: relative;
			border-radius: 0.5rem;
			margin-bottom: 1rem;
			background-color: white;

			&::before
			{
				// Affichage de l'image indiquant le descriptif de l'expérience.
				inset: 21% auto auto -0.5rem;
				border: 0.5rem solid transparent;
				content: "";
				position: absolute;
				border-left: 0;
				border-right-color: white;
			}

			&::after
			{
				// Affichage de l'indicateur pour indiquer une nouvelle expérience.
				inset: 20% -44px;
				width: 1rem;
				height: 1rem;
				border: 0.25rem solid $theme-color-bright;
				content: "";
				position: absolute;
				border-radius: 50%;
				background-color: white;
			}

			@media screen and (pointer: fine) and (hover: hover)
			{
				// Affichage d'un effet de sélection pour les ordinateurs.
				&:hover
				{
					// Corps.
					cursor: pointer;

					&:after
					{
						// Indicateur timeline.
						border: 0.25rem solid white;
						background-color: $theme-color-bright;
					}
				}
			}

			strong
			{
				// Nom de l'entreprise et date de l'expérience.
				color: $theme-color-dark;
				font-size: 1.1rem;
				font-weight: 700;
			}

			p
			{
				// Descriptif de l'expérience.
				color: $theme-box-color;
				margin: 1rem 0 0;
			}

			em
			{
				// Date de l'expérience.
				color: $theme-box-color;
				display: block;
				margin-top: 0.5rem;
			}
		}
	}
}

// Compétences.
#competences
{
	// Corps de l'article.
	margin-bottom: 7.5%;

	hr
	{
		// Séparateur avec les expériences.
		margin: 2rem 0 1rem 0;
		border-color: white;
	}

	p
	{
		// Descriptif des compétences.
		line-height: 1.5rem;
	}

	div
	{
		// Conteneur de chaque compétence.
		display: inline-block;
		user-select: none;
		margin-right: 2rem;

		span
		{
			// Titre de la compétence.
			top: 4rem;
			color: $theme-color-dark;
			width: 5rem;
			z-index: 5;
			display: block;
			position: relative;
			font-weight: 700;
			margin-left: 1rem;
			margin-right: 1rem;
		}

		.circle
		{
			// Apparence du cercle.
			border: 0.5rem solid $theme-box-color;
			transition: background-color 300ms ease;
			border-radius: 50%;
			background-color: white;

			// Dimensions et disposition.
			width: 6rem;
			height: 6rem;

			@media (prefers-reduced-motion: no-preference)
			{
				// Lancement d'une animation de rotation (disponible uniquement
				// 	si l'utilisateur n'a pas demandé à réduire les animations).
				animation: 2s linear spin;

				@keyframes spin
				{
					// Animation de rotation de 0 à 360 degrés.
					0%
					{
						transform: rotate(0deg);
					}
					100%
					{
						transform: rotate(360deg);
					}
				}
			}

			&[data-level = "25"]
			{
				// Niveau à 25% (débutant).
				border-top: 0.5rem solid dodgerblue;
			}

			&[data-level = "50"]
			{
				// Niveau à 50% (correct).
				border-top: 0.5rem solid green;
				border-left: 0.5rem solid green;
			}

			&[data-level = "75"]
			{
				// Niveau à 75% (bon).
				border-top: 0.5rem solid orange;
				border-left: 0.5rem solid orange;
				border-right: 0.5rem solid orange;
			}

			&[data-level = "100"]
			{
				// Niveau à 100% (excellent).
				border: 0.5rem solid crimson;
			}
		}

		@media screen and (pointer: fine) and (hover: hover)
		{
			// Affichage d'un effet de sélection pour les ordinateurs.
			cursor: pointer;

			&:hover
			{
				span
				{
					// Titre de la compétence.
					color: white;
				}

				.circle
				{
					// Cercle représentant le niveau de compétence.
					background-color: $theme-color-dark;
				}
			}
		}
	}
}