// ------------------ //
// Variables globales //
// ------------------ //
$theme-color-dark: rgb(158, 103, 13);
$theme-color-bright: rgb(255, 158, 0);

@import "../../styles/legacy";

// ------- //
// En-tête //
// ------- //
header > img
{
	// Vagues marquant la fin de l'en-tête.
	transform: translateY(-27.5%);
}

// ------- //
// Projets //
// ------- //
article
{
	// Corps de chaque projet.
	margin: 0 5% 1.5rem 5%;
	padding: 3rem;

	color: white;
	text-align: right;

	box-shadow: 0 1rem 2rem -1rem rgba($theme-background-color, 0.3);
	border-radius: 1rem;
	background-color: $theme-box-color;

	@media screen and (min-width: 1024px)
	{
		// Modification des marges sur les grands écrans.
		margin-left: 15%;
		margin-right: 15%;
	}

	&:first-of-type
	{
		// Ajout d'une marge uniquement au premier projet.
		margin-top: calc(7.5% + 5rem);
	}

	&:last-of-type
	{
		// Ajout d'une marge uniquement au dernier projet.
		margin-bottom: 5%;
	}

	hr
	{
		// Séparateur entre les parties de chaque projets.
		margin: 1rem 0 1rem 0;
		border-color: rgb(63, 63, 70);
	}

	// --------------------- //
	// Espace des propriétés //
	// --------------------- //
	div.properties
	{
		h2
		{
			// Nom du projet.
			overflow: hidden;
			font-size: 2rem;
			text-align: left;
			margin-bottom: 0;
		}

		h3
		{
			// Date du projet.
			margin-top: 0.5rem;
			text-align: left;
			text-indent: 1rem;
		}

		p
		{
			// Description du projet.
			color: $theme-text-color;
			text-align: justify;
			line-height: 1.5rem;
		}

		img
		{
			// Icône du projet.
			float: left;
			height: 4rem;
			margin-right: 1rem;
		}

		@media screen and (max-width: 768px)
		{
			// Alignement des propriétés du projet
			//	au centre sur les petits écrans.
			h2, h3
			{
				// Nom et date du projet.
				text-align: center;
			}

			img
			{
				// Icône du projet.
				float: none;
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	// --------------------------- //
	// Espace de la galerie photos //
	// --------------------------- //
	div.images
	{
		// Conteneur de la galerie des photos.
		display: flex;
		column-gap: 2rem;
		text-align: center;
		align-items: center;
		flex-direction: column;
		justify-content: center;

		div
		{
			// État initial de la galerie photos.
			margin: 0.5rem;
			border: 1px solid $theme-text-color;
			display: none;
			min-width: 170px;
			max-width: 600px;
			background-color: $theme-background-color;

			&:first-of-type
			{
				// Seule la première image est affichée.
				display: inline-block;
			}

			img
			{
				// Adaptation des dimensions des photos
				//	sur celles définies par le conteneur.
				width: 100%;
				height: auto;
			}

			figcaption
			{
				// Ajustement de la position de la légende.
				margin: 0;
				padding: 1rem;
				word-break: break-word;
			}
		}

		> img
		{
			// Flèches pour naviguer entre les images.
			height: 3rem;
			margin: 0.5rem 0 0.5rem 0;
			user-select: none;

			@media screen and (pointer: fine) and (hover: hover)
			{
				// Affichage d'un effet de sélection pour les ordinateurs.
				filter: contrast(50%);
				transition: filter 500ms linear;
				will-change: transform;

				&:hover
				{
					filter: contrast(100%);
				}
			}
		}

		@media screen and (min-width: 1280px)
		{
			// Affichage d'une disposition différente sur les ordinateurs.
			flex-direction: row;

			> img
			{
				width: 5rem;
				height: 5rem;
				margin: 0;
			}
		}
	}

	// ------------------------------ //
	// Espace des icônes des langages //
	// ------------------------------ //
	div.languages
	{
		padding-bottom: 2.5rem;

		img
		{
			// Icônes des langages utilisés.
			float: right;
			margin-left: 1.5rem;
		}
	}
}