// Importation des variables de thème.
@import "../pages/_colors";

aside
{
	// Conteneur du bouton de retour en haut de page.
	right: 2rem;
	bottom: 3rem;
	z-index: 1;
	position: fixed;
	transition: transform 200ms ease-in-out;

	@media screen and (max-width: 1024px)
	{
		// Disparition du bouton sur les écrans de taille
		//	moyenne.
		display: none;
	}

	&:active
	{
		// Effet de maintien.
		transform: translateY(0.5rem);
	}

	a
	{
		// Lien de retour en haut de page.
		padding: 1rem 1.3rem;
		border-radius: 50%;

		@include themeColors()
		{
			color: getThemedColor("background");
			background-color: getThemedColor("primary");
		}

		&:hover
		{
			@include themeColors()
			{
				background-color: getThemedColor("primary-alt");
			}
		}
	}
}