@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

/* Document entier */
html
{
	color: white;
	min-width: 540px;
	text-align: center;
	font-family: "Open Sans", sans-serif;
	scroll-behavior: smooth;
	background-color: rgb(24, 24, 27);
}

/* En-tête */
header
{
	/* Corps de l'en-tête */
	padding: 64px 40px 64px 40px;
	background: linear-gradient(to right, rgb(12, 87, 157), rgb(0, 133, 255));
}

header > h1
{
	/* Prénom & nom */
	margin: 0;
	font-size: 48px;
	margin-top: 128px;
}

header > h2
{
	/* Description succincte */
	margin-top: 16px;
}

header a > img
{
	/* Plateformes de communication */
	width: 32px;
	margin: 48px 16px 0 16px;
	padding: 10px;
	border-radius: 10px;
}

header > img
{
	/* Vagues marquant la fin de l'en-tête */
	left: 0;
	z-index: -1;
	position: absolute;
	transform: translateY(32px);
	min-width: 540px;
	min-height: 400px;
}

.steam { background-color: rgb(63, 63, 70); }
.discord { background-color: rgb(88, 101, 242); }
.github { background-color: rgb(39, 39, 42); }
.twitter { background-color: rgb(29, 161, 242); }

/* Navigation */
nav > ul
{
	/* Propriétés principales de la barre */
	z-index: 5;
	position: fixed;
	border-radius: 100px;
	backdrop-filter: blur(8px);
	background-color: rgba(0, 133, 255, 0.7);

	/* Suppression du style par défaut des listes
		non ordonnées */
	list-style-position: none;

	/* Ajustement de l'espacement interne de la barre */
	padding: 20px 40px 20px 40px;

	/* Alignement automatique centrée de la barre
		(de façon horizontale) */
	top: 48px;
	left: 0;
	right: 0;
	width: 410px;
	margin: 0 auto 0 auto;
}

nav > ul li
{
	/* Affichage des textes de la liste */
	display: inline;
	padding: 0 12px 0 12px;
	line-height: 24px;
}

/* Section : à propos de moi */
#aboutme
{
	color: rgb(161, 161, 170);
	padding: 0 30% 80px 30%;
	margin-top: 192px;
}

#aboutme h2, #projects h2
{
	/* Titre de la section */
	color: white;
	font-size: 32px;
	margin-top: 0;
	margin-bottom: 48px;
}

#aboutme h3, #projects h2
{
	/* Identifiant de la section */
	margin-bottom: 8px;
}

#aboutme p
{
	/* Description */
	line-height: 26px;
}

/* Liens */
a
{
	/* État initial des liens */
	color: inherit;
	position: relative;
	text-decoration: none;
}

li a:active
{
	/* Passage progressif en bleu lors de l'appui
		(active + hover) */
	background: rgb(12, 87, 157);
}

li a:hover
{
	transition: background 500ms ease-out;
}

li a::after
{
	/* Création d'une ligne qui apparaîtra
		progressivement lors de la sélection */
	left: 0;
	bottom: 0;
	position: absolute;

	width: 100%;
	height: 1px;

	content: "";
	transform: scale(0);
}

li a:hover::after
{
	transform: scale(1);
	transition: transform 300ms ease;
	background-color: white;
}