@use "styles/colors";
@use "styles/globals";

main > a
{
    inset: 0 0 auto auto;
    position: fixed;
    clip-path: polygon(0 0, 100% 0, 100% 100%);

    @media screen and (max-width: 640px)
    {
        display: none;
    }

    &:hover path:nth-of-type(2)
    {
        animation: octocat-wave 560ms ease-in-out;

        @media screen and (max-width: 640px)
        {
            animation: none;
        }
    }

    svg
    {
        @include colors.themeColors()
        {
            fill: colors.getThemedColor("primary");
            color: colors.getThemedColor("background");
        }

        path:nth-of-type(2)
        {
            fill: currentColor;
            transform-origin: 130px 106px
        }

        path:nth-of-type(3)
        {
            fill: currentColor;
        }
    }

    @media screen and (max-width: 768px)
    {
        path:nth-of-type(2)
        {
            animation: octocat-wave 560ms ease-in-out;
        }
    }

    @keyframes octocat-wave
    {
        0%, 100% { transform:rotate(0); }
        20%, 60% { transform:rotate(-25deg); }
        40%, 80% { transform:rotate(10deg); }
    }
}

section#about
{
    margin-top: 6rem;
    justify-content: space-between;

    @media screen and (max-width: 768px)
    {
        padding-bottom: 1rem;
        flex-direction: column;
    }

    h1
    {
        display: flex;
        flex-basis: 50%;
        flex-direction: column;

        @media screen and (max-width: 768px)
        {
            width: 100%;
            text-align: center;
            font-size: 4rem;
        }

        @media screen and (max-width: 384px)
        {
            font-size: 3rem;
        }

        span
        {
            @include colors.themeColors()
            {
                color: colors.getThemedColor("primary");
            }
        }
    }

    article
    {
        flex-basis: 40%;

        @media screen and (max-width: 768px)
        {
            width: 100%;
            text-align: center;
            margin-top: 2.5rem;
        }

        p
        {
            margin: 0;
            font-size: 1.15rem;
        }

        button
        {
            margin-top: 2rem;
        }
    }
}

section#projects > ul
{
    overflow-x: auto;
    max-height: 28rem;

    > li
    {
        width: 95%;
        margin: 2rem auto;
        padding: 2rem;
        display: flex;
        max-width: 1024px;
        text-align: center;
        align-items: center;
        border-radius: 1rem;
        justify-content: space-between;

        @include colors.themeColors()
        {
            box-shadow: colors.getThemedColor("container-shadow");
            background-color: colors.getThemedColor("background-alt");
        }

        @media screen and (max-width: 1024px)
        {
            padding: 1.5rem;
            max-width: 450px;
            flex-direction: column;
        }

        &:first-of-type
        {
            margin-top: 0;
        }

        &:last-of-type
        {
            margin-bottom: 0;
        }

        > h2
        {
            @media screen and (max-width: 768px)
            {
                margin-bottom: 0;
            }
        }

        img
        {
            cursor: pointer;
            max-width: 450px;
            max-height: 375px;
            border-radius: 0.5rem;

            @include colors.themeColors()
            {
                border: 1px solid colors.getThemedColor("foreground");
            }

            @media screen and (max-width: 1024px)
            {
                margin: 0 auto;
                max-width: 100%;
                max-height: 100%;
                margin-bottom: 2rem;
            }
        }

        div
        {
            flex-basis: 50%;
            margin-left: 2rem;

            @media screen and (max-width: 1024px)
            {
                padding: 0;
                margin-left: 0;
            }

            p
            {
                margin: 1.25rem 0;
            }

            ul
            {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;

                &:first-of-type
                {
                    margin: 0 auto;

                    @media screen and (max-width: 768px)
                    {
                        display: none;
                    }

                    li
                    {
                        margin: 0.25rem 0.25rem;
                        padding: 0.5rem 0.5rem;
                        font-size: 0.85rem;
                        font-weight: 700;
                        border-radius: 5rem;

                        @include colors.themeColors()
                        {
                            color: colors.getThemedColor("primary");
                            background-color: colors.getThemedColor("primary-light");
                        }
                    }
                }

                &:last-of-type
                {
                    margin-top: 1.25rem;

                    svg
                    {
                        width: 1.5rem;
                        height: 1.5rem;
                        padding: 0.5rem;
                        border-radius: 50%;

                        @include colors.themeColors()
                        {
                            border: 0.2rem solid colors.getThemedColor("primary");
                        }

                        &:not(:hover)
                        {
                            @include colors.themeColors()
                            {
                                color: colors.getThemedColor("primary");
                            }
                        }
                    }
                }
            }
        }
    }
}

section#skills ul
{
    gap: 1rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    max-height: 19.5rem;
    align-items: center;
    padding-bottom: 0.5rem;
    justify-content: center;

    &:first-of-type
    {
        margin: 0 1rem 3rem 1rem;

        input[type = radio]
        {
            margin-right: 0.75rem;
            vertical-align: middle;

            @include colors.themeColors()
            {
                accent-color: colors.getThemedColor("primary");
            }
        }
    }

    &:last-of-type li
    {
        gap: 0.5rem;
        width: 9rem;
        height: 9rem;
        display: flex;
        overflow: hidden;
        position: relative;
        font-size: 0.85rem;
        font-weight: 500;
        align-items: center;
        border-radius: 1.5rem;
        flex-direction: column;
        justify-content: center;

        @include colors.themeColors()
        {
            box-shadow: colors.getThemedColor("container-shadow");
            background-color: colors.getThemedColor("background-alt");
        }

        i
        {
            font-size: 3rem;
            margin-bottom: 0.25rem;
        }

        &::before
        {
            inset: auto 0 0;
            width: 100%;
            height: 6px;
            content: "";
            position: absolute;
            transform: scaleX(0);
            transition: transform 200ms linear;

            @include colors.themeColors()
            {
                background-color: colors.getThemedColor("primary-alt");
            }
        }

        &:hover::before
        {
            transform: scaleX(1);
        }
    }
}

section#contact ul
{
    flex-wrap: wrap;
    justify-content: center;

    button, a
    {
        gap: 0.5rem;
        display: flex;
        margin-top: 0.3rem;
        align-items: center;
        margin-right: 0.5rem;

        svg
        {
            height: 1rem;
        }
    }
}
