// Importation des normalisateurs CSS.
@import "sanitize.css/sanitize";
@import "sanitize.css/forms";
@import "sanitize.css/assets";
@import "sanitize.css/system-ui";
@import "sanitize.css/typography";
@import "sanitize.css/ui-monospace";
@import "sanitize.css/reduce-motion";

// Importation des dépendances externes.
@import "devicon/devicon.min";
@import "vanilla-cookieconsent/dist/cookieconsent";

// Importation des variables de thème.
@import "colors";

// Importation des règles CSS des composants React.
@import "header";
@import "footer";
@import "loading";
@import "scroll-top";

// Modifications globales.
html
{
	// Document entier.
	scroll-behavior: smooth;
}

body
{
	// Corps de la page.
	width: 95%;
	cursor: auto;
	margin: 0 auto;
	max-width: 1024px;
	transition: background-color 100ms linear;
	line-height: 1.5;

	@include themeColors()
	{
		color: getThemedColor("foreground");
		background-color: getThemedColor("background");
	}
}

h1, h2, h3, h4, h5, h6
{
	// Titres de niveau 1 à 6.
	margin: 0;
	line-height: 1.1;

	@include themeColors()
	{
		color: getThemedColor("foreground-alt");
	}
}

h1
{
	// Titre principal.
	font-size: 5rem;
}

h2
{
	// Titre secondaire.
	font-size: 2rem;
}

ul
{
	// Liste non ordonnée.
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a
{
	// Lien hypertexte.
	text-decoration: none;

	@include themeColors()
	{
		color: getThemedColor("primary");
	}
}

header button, section:first-of-type button, section:last-of-type button, section:last-of-type a
{
	// Bouton générique.
	margin: 0;
	border: none;
	cursor: pointer;
	padding: 0;
	box-shadow: none;
	box-sizing: border-box;
}

section:first-of-type button, section:last-of-type button, section:last-of-type a
{
	// Bouton comprenant un lien cliquable.
	display: inline-block;
	padding: 1rem 1.5rem;
	font-size: 0.8rem;
	transition: transform 200ms ease-in-out;
	font-weight: 600;
	border-radius: 5rem;

	@include themeColors()
	{
		color: getThemedColor("background");
		background-color: getThemedColor("primary");
	}

	&:hover
	{
		// Effet de survol.
		@include themeColors()
		{
			background-color: getThemedColor("primary-alt");
		}
	}

	&:active
	{
		// Effet de maintien.
		transform: translateY(-0.5rem);
	}
}

nav li
{
	// Élément de la barre de navigation.
	margin: 0 0.5rem;
	font-weight: 500;
}

section
{
	// Conteneur des sections.
	margin-top: 5rem;

	@media screen and (max-width: 768px)
	{
		// Réduction de la marge supérieure pour les
		//  écrans de petite taille.
		margin-top: 2.5rem;
	}

	> h2
	{
		// Titre des sections.
		text-align: center;
		padding-top: 0.5rem;
		margin-bottom: 3rem;
		text-transform: uppercase;

		@media screen and (max-width: 768px)
		{
			// Réduction de la taille du titre pour les
			//  écrans de petite taille.
			font-size: 1.5rem;
		}

		&::after
		{
			// Barre de séparation en dessous du titre.
			width: 4rem;
			margin: 0.5rem auto 0 auto;
			content: "";
			display: block;

			@include themeColors()
			{
				border-bottom: 0.5rem solid getThemedColor("primary");
			}
		}
	}
}

header, nav, nav ul, section:first-of-type, section:last-of-type ul, footer
{
	// Conteneurs généraux.
	display: flex;
	align-items: center;
}

header > a, header button, section:nth-of-type(2) a
{
	// Boutons de la barre de navigation et de la section
	//  à propos du développeur.
	margin: 0.5rem;
	z-index: 1;
	display: flex;
	position: relative;
	align-items: center;
	border-radius: 50%;
	justify-content: center;

	&::after
	{
		// Arrière-plan de l'icône.
		width: 0;
		height: 0;
		z-index: -1;
		content: "";
		position: absolute;
		border-radius: 50%;
		transition-duration: 250ms;
		transition-property: width, height, border;
		transition-timing-function: ease-in-out;

		@include themeColors()
		{
			background-color: getThemedColor("primary");
		}
	}

	@media (hover: hover) and (pointer: fine)
	{
		// Animation de survol de l'icône sur les écrans
		//  à pointeur (souris).
		&:hover, &:hover svg
		{
			@include themeColors()
			{
				color: getThemedColor("background");
			}
		}

		&:hover::after
		{
			width: 100%;
			height: 100%;

			@include themeColors()
			{
				border: 0.25rem solid getThemedColor("primary");
			}
		}
	}
}

::selection
{
	// Sélection des textes.
	@include themeColors()
	{
		color: getThemedColor("background");
		background-color: getThemedColor("primary");
	}
}

// Badge de Google reCAPTCHA.
//  Source : https://developers.google.com/recaptcha/docs/faq#id-like-to-hide-the-recaptcha-badge.-what-is-allowed
.grecaptcha-badge
{
	display: none;
}

// Personnalisation de SweetAlert2.
.swal2-shown > [aria-hidden]
{
	// Flou artistique en arrière-plan.
	//  Source : https://sweetalert2.github.io/recipe-gallery/blurred-backdrop.html
	filter: blur(0.5rem);
	transition: filter 100ms;
}

.swal2-validation-message
{
	// Message d'erreur.
	@include themeColors()
	{
		color: getThemedColor("foreground");
		background-color: getThemedColor("background-alt");
	}
}

.swal2-styled.swal2-confirm
{
	// Bouton de confirmation.
	@include themeColors()
	{
		color: getThemedColor("background");
		background-color: getThemedColor("primary");
	}

	&:focus
	{
		// Effet de maintien.
		@include themeColors()
		{
			box-shadow: 0 0 0 3px rgba(getThemedColor("primary"), 0.5);
		}
	}
}

.swal2-modal
{
	// Respect des couleurs du thème.
	@include themeColors()
	{
		color: getThemedColor("foreground");
		border: 1px solid rgba(getThemedColor("primary"), 0.5);
		background-color: getThemedColor("background");
	}

	.swal2-radio
	{
		// Boutons radio.
		background: inherit;
		justify-content: space-evenly;
	}
}

// Personnalisation de la barre de défilement.
//  (Navigateurs WebKit uniquement : https://caniuse.com/css-scrollbar).
::-webkit-scrollbar
{
	// Conteneur de la barre de défilement.
	width: 1rem;
}

::-webkit-scrollbar-track
{
	// Chemin de la barre de défilement.
	@include themeColors()
	{
		background-color: getThemedColor("background-alt");
	}
}

::-webkit-scrollbar-thumb
{
	// Boutons haut/bas de la barre de défilement.
	border-radius: 0.5rem;

	@include themeColors()
	{
		border: 0.25rem solid getThemedColor("background");
		background-color: getThemedColor("primary");
	}

	&:hover
	{
		// Effet de survol.
		@include themeColors()
		{
			background-color: getThemedColor("primary-alt");
		}
	}
}

// Personnalisation de la bannière de consentement.
//  Source : https://cookieconsent.orestbida.com/advanced/ui-customization.html#color-schemes
#cc-main
{
	// Conteneur principal des éléments enfants.
	font-family: inherit;

	.cm
	{
		// Conteneur de la bannière de consentement.
		@include themeColors()
		{
			border-top: 1px solid rgba(getThemedColor("primary"), 0.5);
			background-color: getThemedColor("background");
		}
	}

	.pm
	{
		// Conteneur du gestionnaire des préférences.
		@include themeColors()
		{
			border: 1px solid rgba(getThemedColor("primary"), 0.5);
			background-color: getThemedColor("background");
		}
	}

	.pm__header, .pm__footer
	{
		// En-tête et pied de page du gestionnaire des préférences.
		@include themeColors()
		{
			border-color: rgba(getThemedColor("primary"), 0.25);
		}
	}

	.pm__body
	{
		// Corps du gestionnaire des préférences.
		&::-webkit-scrollbar
		{
			@extend ::-webkit-scrollbar;
		}

		&::-webkit-scrollbar-track
		{
			@extend ::-webkit-scrollbar-track;
		}

		&::-webkit-scrollbar-thumb
		{
			@extend ::-webkit-scrollbar-thumb;
		}
	}

	.pm__section:not(:first-child)
	{
		// Section pour plus d'informations.
		@include themeColors()
		{
			border-color: rgba(getThemedColor("primary"), 0.25);
		}

		&:hover
		{
			// Effet de survol.
			@include themeColors()
			{
				background-color: getThemedColor("background-alt");
			}
		}
	}

	.pm__section--toggle
	{
		// Conteneurs généraux du gestionnaire des préférences.
		@include themeColors()
		{
			background-color: getThemedColor("background");
		}

		.pm__section-desc-wrapper
		{
			// Conteneur contenant les descriptions des cookies.
			@include themeColors()
			{
				border-color: rgba(getThemedColor("primary"), 0.25);
			}
		}

		.pm__section-arrow
		{
			// Flèches de chaque section.
			@include themeColors()
			{
				background-color: getThemedColor("primary");
			}

			svg
			{
				// Icône de la flèche.
				@include themeColors()
				{
					stroke: getThemedColor("background");
				}
			}
		}
	}

	.cm__title, .pm__title, .pm__section-title
	{
		// Titres de la bannière de consentement.
		@include themeColors()
		{
			color: getThemedColor("foreground");
		}
	}

	.cm__desc, .pm__section-desc
	{
		// Descriptions de la bannière de consentement.
		@include themeColors()
		{
			color: getThemedColor("foreground");
		}
	}

	button.pm__section-title
	{
		// Boutons de la bannière de consentement.
		@include themeColors()
		{
			border-color: rgba(getThemedColor("primary"), 0.25);
			background-color: getThemedColor("background");
		}

		&:hover
		{
			// Effet de survol.
			@include themeColors()
			{
				border-color: rgba(getThemedColor("primary-alt"), 0.25);
				background-color: getThemedColor("background-alt");
			}
		}
	}

	.pm__table-th, .pm__table-tr
	{
		// Textes du tableau de la liste des cookies.
		@include themeColors()
		{
			color: getThemedColor("foreground");
		}

		&:hover
		{
			// Effet de survol.
			@include themeColors()
			{
				background-color: getThemedColor("background-alt");
			}
		}
	}

	.cm__btn, .pm__btn, .pm__close-btn
	{
		// Boutons d'acception, de refus ou de fermeture
		//  de la bannière de consentement.
		@include themeColors()
		{
			color: getThemedColor("background");
			border-color: getThemedColor("primary");
			background-color: getThemedColor("primary");
		}

		&.cm__btn--secondary, &.pm__btn--secondary
		{
			// Boutons de sauvegarde ou d'ouverture du
			//  gestionnaire de préférences.
			@include themeColors()
			{
				border-color: getThemedColor("foreground");
				background-color: getThemedColor("foreground");
			}

			&:hover
			{
				// Effet de survol.
				@include themeColors()
				{
					background-color: getThemedColor("foreground-alt");
				}
			}
		}

		&:hover
		{
			// Effet de survol.
			@include themeColors()
			{
				background-color: getThemedColor("primary-alt");
			}
		}

		svg
		{
			// Croix de fermeture de la bannière de consentement.
			@include themeColors()
			{
				stroke: getThemedColor("background");
			}
		}
	}

	.cc__link, a
	{
		// Liens du gestionnaire des préférences.
		@include themeColors()
		{
			color: getThemedColor("foreground-alt");
		}

		&:hover
		{
			// Effet de survol.
			@include themeColors()
			{
				color: getThemedColor("primary");
			}
		}
	}

	.section__toggle
	{
		// Bascules du gestionnaire des préférences.
		~ .toggle__icon
		{
			// Bascules inactives.
			@include themeColors()
			{
				box-shadow: 0 0 0 1px rgba(getThemedColor("primary"), 0.25);
				background-color: getThemedColor("background");
			}

			.toggle__icon-circle
			{
				// Cercle de la bascule.
				@include themeColors()
				{
					background-color: getThemedColor("primary");
				}

				.toggle__icon-off svg
				{
					// Icône de la bascule.
					@include themeColors()
					{
						stroke: getThemedColor("background");
					}
				}
			}
		}

		&:checked ~ .toggle__icon
		{
			// Bascules actives.
			@include themeColors()
			{
				box-shadow: 0 0 0 1px getThemedColor("primary");
				background-color: getThemedColor("primary");
			}

			.toggle__icon-circle
			{
				// Cercle de la bascule.
				@include themeColors()
				{
					background-color: getThemedColor("background");
				}

				.toggle__icon-on svg
				{
					// Icône de la bascule.
					@include themeColors()
					{
						stroke: getThemedColor("primary");
					}
				}
			}
		}

		&:checked:disabled ~ .toggle__icon
		{
			// Bascules désactivées mais actives.
			@include themeColors()
			{
				box-shadow: 0 0 0 1px rgba(getThemedColor("primary"), 0.25);
				background-color: rgba(getThemedColor("primary"), 0.25);
			}

			.toggle__icon-circle
			{
				// Cercle de la bascule.
				@include themeColors()
				{
					background-color: getThemedColor("background");
				}

				.toggle__icon-on svg
				{
					// Icône de la bascule.
					@include themeColors()
					{
						stroke: rgba(getThemedColor("primary"), 0.25);
					}
				}
			}
		}
	}
}