@use "colors";

aside
{
    inset: auto 2rem 3rem auto;
    z-index: 1;
    position: fixed;
    transition: transform 200ms ease-in-out;

    @media screen and (max-width: 1024px)
    {
        display: none;
    }

    &:active
    {
        transform: translateY(0.5rem);
    }

    button
    {
        border: none;
        cursor: pointer;
        padding: 1rem 1.1rem;
        border-radius: 50%;

        @include colors.themeColors()
        {
            color: colors.getThemedColor("background");
            background-color: colors.getThemedColor("primary");
        }

        &:hover
        {
            @include colors.themeColors()
            {
                background-color: colors.getThemedColor("primary-alt");
            }
        }
    }
}
