// Importation des normalisateurs CSS.
@import "sanitize.css/sanitize";
@import "sanitize.css/forms";
@import "sanitize.css/assets";
@import "sanitize.css/system-ui";
@import "sanitize.css/typography";
@import "sanitize.css/ui-monospace";
@import "sanitize.css/reduce-motion";

// Importation des dépendances externes.
@import "../node_modules/devicon/devicon.min.css";
@import "../node_modules/@fortawesome/fontawesome-svg-core/styles.css";

// Importation des variables de thème.
@import "_colors";

// Importation des règles CSS des pages.
@import "index";

// Importation des règles CSS des composants React.
@import "../components/Header";
@import "../components/Footer";
@import "../components/ScrollTop";

// Modifications globales.
html
{
	// Document HTML.
	width: 95%;
	cursor: unset;
	margin: 0 auto;
	max-width: 1024px;
	transition: background-color 100ms linear;
	line-height: 1.5;
	scroll-behavior: smooth;

	@include themedColor()
	{
		color: t("foreground");
		background-color: t("background");
	}
}

h1, h2, h3, h4, h5, h6
{
	// Titres de niveau 1 à 6.
	line-height: 1.1;

	@include themedColor()
	{
		color: t("foreground-alt");
	}
}

h1
{
	// Titre principal.
	font-size: 5rem;
}

h2
{
	// Titre secondaire.
	font-size: 2rem;
}

ul
{
	// Liste non ordonnée.
	padding: 0;
	list-style-type: none;
}

a
{
	// Lien hypertexte.
	text-decoration: none;
}

header button, section:first-of-type button, section:last-of-type button
{
	// Bouton générique.
	margin: 0;
	border: 0;
	cursor: pointer;
	padding: 0;
	box-shadow: none;
	box-sizing: border-box;
}

section:first-of-type button, section:last-of-type button
{
	// Bouton comprenant un lien cliquable.
	display: inline-block;
	padding: 1rem 1.5rem;
	font-size: 0.8rem;
	transition: transform 200ms ease-in-out;
	font-weight: 600;
	border-radius: 5rem;

	@include themedColor()
	{
		color: t("background");
		background-color: t("primary");
	}

	&:hover
	{
		// Effet de survol.
		@include themedColor()
		{
			background-color: t("primary-alt");
		}
	}

	&:active
	{
		// Effet de maintien.
		transform: translateY(-0.5rem);
	}
}

nav li
{
	// Élément de la barre de navigation.
	margin: 0 0.5rem;
	font-weight: 500;
}

section
{
	// Conteneur des sections.
	margin-top: 5rem;

	@media (max-width: 768px)
	{
		// Réduction de la marge supérieure pour les
		//	écrans de petite taille.
		margin-top: 2.5rem;
	}

	> h2
	{
		// Titre des sections.
		text-align: center;
		padding-top: 0.5rem;
		margin-bottom: 1.5rem;
		text-transform: uppercase;

		@media (max-width: 768px)
		{
			// Réduction de la taille du titre pour les
			//	écrans de petite taille.
			font-size: 1.5rem;
		}

		&::after
		{
			// Barre de séparation en dessous du titre.
			width: 4rem;
			margin: 0.5rem auto 0 auto;
			content: "";
			display: block;

			@include themedColor()
			{
				border-bottom: 0.5rem solid t("primary");
			}
		}
	}
}

header, nav, nav ul, section:first-of-type, section:last-of-type ul, footer
{
	// Conteneurs généraux.
	display: flex;
	align-items: center;
}

header > a, header button, section:nth-of-type(2) button
{
	// Boutons de la barre de navigation et de la section
	//	à propos du développeur.
	margin: 0.5rem;
	z-index: 1;
	display: flex;
	position: relative;
	align-items: center;
	border-radius: 50%;
	justify-content: center;

	&:hover svg
	{
		// Effet de survol.
		@include themedColor()
		{
			color: t("background");
		}
	}

	&::after
	{
		// Arrière-plan de l'icône.
		width: 0;
		height: 0;
		z-index: -1;
		content: "";
		position: absolute;
		border-radius: 50%;
		transition-duration: 250ms;
		transition-property: width, height, border;
		transition-timing-function: ease-in-out;

		@include themedColor()
		{
			background-color: t("primary");
		}
	}

	&:hover::after
	{
		// Sélection de l'arrière-plan de l'icône.
		width: 100%;
		height: 100%;

		@include themedColor()
		{
			border: 0.25rem solid t("primary");
		}
	}
}

::selection
{
	// Sélection des textes.
	@include themedColor()
	{
		color: t("background");
		background-color: t("primary");
	}
}

// Personnalisation de la barre de défilement.
//	(Navigateurs WebKit uniquement : https://caniuse.com/css-scrollbar).
::-webkit-scrollbar
{
	// Conteneur de la barre de défilement.
	width: 1rem;
}

::-webkit-scrollbar-track
{
	// Chemin de la barre de défilement.
	@include themedColor()
	{
		background-color: t("background-alt");
	}
}

::-webkit-scrollbar-thumb
{
	// Boutons haut/bas de la barre de défilement.
	border-radius: 0.5rem;

	@include themedColor()
	{
		border: 0.25rem solid t("background");
		background-color: t("primary");
	}

	&:hover
	{
		// Effet de survol.
		@include themedColor()
		{
			background-color: t("primary-alt");
		}
	}
}