// ------------------ //
// Variables globales //
// ------------------ //
$html-min-width: 360px;

$theme-color-dark: rgb(12, 87, 157) !default;		// Couleur foncée du thème
$theme-color-bright: rgb(0, 133, 255) !default; 	// Couleur claire du thème

$theme-text-color: rgb(161, 161, 170);				// Couleur de certains paragraphes

$theme-background-color: rgb(24, 24, 27);			// Couleur de fond par défaut
$theme-box-color: rgb(39, 39, 42);					// Couleur de certains blocs