/* --------------- */
/* Document entier */
/* --------------- */
html
{
	/* Variables globales */
	--theme-color-dark: 140, 14, 14;
	--theme-color-bright: 217, 0, 0;

	/* Suppression de l'image en fond */
	background-image: none;
}

/* ------- */
/* En-tête */
/* ------- */
header
{
	/* Bordure en dessous de l'en-tête */
	border-bottom: 5px dashed rgb(var(--theme-background-color));
}

header h1
{
	/* Réduction de la taille de la marge
		supérieure en raison de la suppression
		de la barre de navigation */
	margin-top: 4rem;
}

header p:nth-of-type(1)
{
	/* Horloge actuelle du client */
	top: 1rem;
	left: 1rem;
	color: rgb(var(--theme-background-color));
	margin: 0;
	position: absolute;
	font-weight: 700;
}

header p:nth-of-type(2)
{
	/* Information de connexion lorsque
		l'utilisateur est connecté */
	top: 1rem;
	right: 1rem;
	color: rgb(var(--theme-background-color));
	margin: 0;
	padding: 0.5rem;
	position: absolute;
	font-weight: 700;
	background-color: white;
}

/* ------------ */
/* Pied-de-page */
/* ------------ */
footer ul
{
	/* Réduction du nombre de colonnes */
	columns: 1;
}

/* -------------------------*/
/* Section : page d'accueil */
/* ------------------------ */

/* --------------------------------- */
/* Section : formulaire de connexion */
/* --------------------------------- */
#login
{
	/* Corps de la section */
	/* (Première utilisation des flexbox !) */
	display: flex;
	padding: 0 5% 0 5%;
	min-height: 60vh;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

#login > #failed
{
	/* Message d'erreur si l'identifiant
		ou le mot de passe est incorrect */
	color: rgb(var(--theme-color-bright));
	margin-top: 2rem;
	font-weight: 700;
	line-height: 1.25rem;
	text-transform: uppercase;
}

#login > form
{
	/* Corps du formulaire */
	padding: 1.5rem;
	max-width: 700px;
	user-select: none;
	border-radius: 0.25rem;
	background-image: linear-gradient(to right, rgb(var(--theme-color-dark)), rgb(var(--theme-color-bright)));
}

#login input[required]
{
	/* Champs de saisie */
	width: calc(100% - 2rem);
	border: none;
	margin: 0.5rem 0 1rem 0;
	outline: none;
	padding: 1rem;
	box-sizing: border-box;
	line-height: 1; /* Correction étrange pour le normalisateur CSS */
	transition: background-color 300ms ease;
	border-radius: 0.5rem;
}

#login input[required]:focus
{
	/* Animation lors du survol de l'élément */
	background-color: beige;
}

#login input[type = "submit"]
{
	/* Bouton de validation */
	color: white;
	cursor: pointer;
	border: none;
	padding: 0.75rem 1.25rem;
	transition: background-color 250ms ease;
	border-radius: 0.25rem;
	background-color: rgb(var(--theme-color-bright));
}

#login input[type = "submit"]:hover
{
	/* Animation lors du survol de l'élément */
	background-color: rgb(var(--theme-color-dark));
}

/* ------------------------------*/
/* Section : page de déconnexion */
/* ----------------------------- */
#logout
{
	/* Corps de la section */
	top: 50%;
	left: 50%;
	border: 3px dashed rgb(var(--theme-color-bright));
	padding: 1rem;
	position: absolute;
	transform: translate(-50%, -50%);
}

#logout h1
{
	/* Titre principal */
	margin-top: 0;
}