html {
  color: white;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeSpeed;
  min-width: 360px;
  scroll-behavior: smooth;
  background-image: url("../assets/images/decorations/wireframes.png");
  background-color: rgb(24, 24, 27);
  background-attachment: fixed;
}

section {
  transition: opacity 700ms ease;
}

strong {
  font-size: 1.1rem;
  -webkit-text-decoration: underline solid;
          text-decoration: underline solid;
}

noscript {
  top: 1rem;
  right: 1rem;
  padding: 0.5rem;
  margin-left: 6rem;
  z-index: 10;
  position: fixed;
  color: white;
  background-color: red;
}

::-moz-selection {
  color: white;
  background-color: rgb(140, 14, 14);
}

::selection {
  color: white;
  background-color: rgb(140, 14, 14);
}

::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  background-color: whitesmoke;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(140, 14, 14);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(39, 39, 42);
}

header {
  padding: 4rem 2.5rem 4rem 2.5rem;
  background-image: linear-gradient(to right, rgb(140, 14, 14), rgb(217, 0, 0));
}
header h1 {
  margin: 0;
  display: inline-block;
  font-size: 2rem;
  margin-top: 13rem;
  -webkit-animation: blink 500ms step-end infinite alternate;
          animation: blink 500ms step-end infinite alternate;
  border-right: 0.15rem solid white;
}
header h2 {
  margin-top: 1rem;
  font-weight: 400;
}
header > img {
  left: 0;
  z-index: -1;
  position: absolute;
  min-width: 360px;
  max-width: 100%;
  min-height: 400px;
}

@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
footer ul {
  margin: 0;
  -moz-columns: 3;
       columns: 3;
  padding: 1rem 10% 1rem 10%;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  -moz-column-rule: thin dotted white;
       column-rule: thin dotted white;
  list-style-type: none;
}
footer ul li {
  padding: 1rem 0 1rem 0;
  word-break: break-word;
}
footer ul li a {
  padding: 0.5rem;
  background-color: rgb(140, 14, 14);
}

nav {
  display: flex;
  justify-content: center;
}
nav ul {
  z-index: 5;
  position: fixed;
  border-radius: 6rem;
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  background-color: rgba(217, 0, 0, 0.7);
  list-style-type: none;
  padding: 1.25rem 2.5rem 1.25rem 2.5rem;
  top: 7rem;
  margin: 0 5% 0 5%;
  min-width: calc(360px - 7rem);
}
@media not all and (-webkit-min-device-pixel-ratio: 0), not all and (min-resolution: 0.001dpcm) {
  nav ul {
    margin: 0;
  }
}
@-moz-document url-prefix() {
  nav ul {
    background-color: rgba(217, 0, 0, 0.9);
  }
}
nav ul li {
  display: inline;
  padding: 0 0.75rem 0 0.75rem;
  line-height: 1.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
nav ul li:first-of-type {
  padding-left: 0;
}
nav ul li:last-of-type {
  padding-right: 0;
}

ul#flags {
  top: 0;
  left: 0;
  z-index: 10;
  position: absolute;
  width: 5rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  background-color: transparent;
}
ul#flags li {
  padding: 10px;
  transition: background-color 300ms ease-out;
}
@media screen and (pointer: fine) and (hover: hover) {
  ul#flags li:hover {
    background-color: rgb(217, 0, 0);
  }
}
ul#flags li:nth-of-type(n+2) {
  display: none;
}
ul#flags li button {
  border: 0;
  margin: 0;
  cursor: pointer;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: none;
}
ul#flags li button span {
  color: white;
  display: block;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}
ul#flags li button img {
  width: 53.325px;
  height: 40px;
}
ul#flags:hover li {
  display: block;
}

#scrollTop {
  width: 3rem;
  height: 3rem;
  right: 1rem;
  bottom: 1rem;
  position: fixed;
  z-index: 5;
  border-radius: 1rem;
  border: none;
  opacity: 0;
  background-color: rgb(140, 14, 14);
  background-size: 50%;
  background-image: url("../assets/images/decorations/arrow_up.svg");
  background-repeat: no-repeat;
  background-position: center;
  filter: contrast(50%);
  transition: filter 300ms linear, opacity 200ms ease-out;
  will-change: transform;
}
#scrollTop.show {
  opacity: 1;
}
#scrollTop:hover {
  cursor: pointer;
  filter: contrast(100%);
}

#contributions {
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  scrollbar-width: none;
  cursor: pointer;
  display: none;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.95);
}
#contributions ::-webkit-scrollbar {
  display: none;
}
#contributions > h2 {
  margin: 6rem 10% 6rem 10%;
  font-size: 3rem;
}
@media (prefers-reduced-motion: no-preference) {
  #contributions > h2 {
    -webkit-animation: rainbow 2.5s linear infinite;
            animation: rainbow 2.5s linear infinite;
  }
  @-webkit-keyframes rainbow {
    0%, 100% {
      color: rgb(255, 0, 0);
    }
    8% {
      color: rgb(255, 127, 0);
    }
    16% {
      color: rgb(255, 255, 0);
    }
    25% {
      color: rgb(127, 255, 0);
    }
    33% {
      color: rgb(0, 255, 0);
    }
    41% {
      color: rgb(0, 255, 127);
    }
    50% {
      color: rgb(0, 255, 255);
    }
    58% {
      color: rgb(0, 127, 255);
    }
    66% {
      color: rgb(0, 0, 255);
    }
    75% {
      color: rgb(127, 0, 255);
    }
    83% {
      color: rgb(255, 0, 255);
    }
    91% {
      color: rgb(255, 0, 127);
    }
  }
  @keyframes rainbow {
    0%, 100% {
      color: rgb(255, 0, 0);
    }
    8% {
      color: rgb(255, 127, 0);
    }
    16% {
      color: rgb(255, 255, 0);
    }
    25% {
      color: rgb(127, 255, 0);
    }
    33% {
      color: rgb(0, 255, 0);
    }
    41% {
      color: rgb(0, 255, 127);
    }
    50% {
      color: rgb(0, 255, 255);
    }
    58% {
      color: rgb(0, 127, 255);
    }
    66% {
      color: rgb(0, 0, 255);
    }
    75% {
      color: rgb(127, 0, 255);
    }
    83% {
      color: rgb(255, 0, 255);
    }
    91% {
      color: rgb(255, 0, 127);
    }
  }
}
#contributions ul {
  padding-left: 0;
  list-style-type: none;
}
#contributions ul li {
  margin: 0 10% 3rem 10%;
  line-height: 1.5rem;
}
@media screen and (pointer: fine) and (hover: hover) {
  #contributions ul li {
    opacity: 0.5;
    transition: opacity 500ms ease;
  }
  #contributions ul li:hover {
    opacity: 1;
    transition: opacity 500ms ease;
  }
}
#contributions ul li h3 {
  font-size: 2rem;
  text-decoration: underline;
}
#contributions ul li p {
  color: rgb(161, 161, 170);
}

a {
  color: inherit;
  display: inline-block;
  position: relative;
  text-decoration: none;
}

h2 a::after, article a::after, form a::after, li > a::after {
  left: 0;
  bottom: -2px;
  position: absolute;
  width: 100%;
  height: 1px;
  content: "";
  transform: scale(0);
}
h2 a:active, article a:active, form a:active, li > a:active {
  background-color: rgb(140, 14, 14);
}
h2 a:hover, article a:hover, form a:hover, li > a:hover {
  transition: background-color 500ms ease-out;
}
h2 a:hover::after, article a:hover::after, form a:hover::after, li > a:hover::after {
  transform: scale(1);
  transition: transform 300ms ease;
  background-color: currentColor;
}

html {
  background-image: none;
}

hr {
  margin: 3rem 10% 3rem 10%;
  border-color: rgb(161, 161, 170);
}

video {
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.15;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}

header {
  border-bottom: 5px dashed rgb(24, 24, 27);
}
header h1 {
  margin-top: 4rem;
}
header p:nth-of-type(1) {
  top: 1rem;
  left: 1rem;
  color: rgb(24, 24, 27);
  margin: 0;
  position: absolute;
  font-weight: 700;
}
header p:nth-of-type(2) {
  top: 1rem;
  right: 1rem;
  color: rgb(24, 24, 27);
  margin: 0 0 0 6rem;
  padding: 0.5rem;
  position: absolute;
  font-weight: 700;
  background-color: white;
}

footer ul {
  -moz-columns: 1;
       columns: 1;
  margin-top: 1.5rem;
}

#tables {
  display: grid;
  padding: 3rem 10% 0 10%;
  grid-template: "a a" 4rem "b b" auto "c d" 0.25fr/0.15fr 1fr;
}

@media screen and (max-width: 768px) {
  #tables, hr {
    padding-left: 5%;
    padding-right: 5%;
  }
}
#tables h2, #upload h2 {
  grid-area: a;
}
#tables p, #upload p {
  color: rgb(161, 161, 170);
  margin: 1rem 10% 1rem 10%;
  padding: 1rem;
  grid-area: b;
  line-height: 1.25rem;
}

#categories ul {
  margin: 1rem;
  padding: 0;
  grid-area: c;
  list-style: none;
}
#categories ul li:not(:last-of-type) {
  margin-bottom: 0.5rem;
}
#categories ul li input {
  color: white;
  width: 100%;
  border: 0;
  margin: 0;
  cursor: pointer;
  padding: 1rem;
  transition: background-color 250ms ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 0.5rem;
  text-transform: capitalize;
  background-color: rgb(217, 0, 0);
}
#categories ul li input:hover {
  color: rgb(217, 0, 0);
  background-color: white;
}

#data {
  margin: 1rem;
  overflow: auto;
  grid-area: d;
  background-color: rgba(161, 161, 170, 0.25);
}
#data p {
  top: 50%;
  margin: 0;
  padding: 0.5rem;
  position: relative;
  word-wrap: break-word;
  font-size: 1.5rem;
  transform: translateY(-50%);
}
#data table {
  padding: 0.5rem;
  border-spacing: 0.25rem;
}
#data table th:not(:last-child) {
  padding: 0.5rem;
  background-color: rgb(217, 0, 0);
}
#data table textarea {
  height: 2rem;
  resize: vertical;
  border: none;
  outline: none;
  min-height: 2rem;
  max-height: 20rem;
  transition: background-color 300ms ease;
}
#data table textarea:focus {
  background-color: beige;
}
#data table input {
  color: white;
  cursor: pointer;
  border: none;
  padding: 0.5rem;
  transition: background-color 250ms ease;
  border-radius: 0.25rem;
  text-transform: uppercase;
}
#data table input[name*=add] {
  background-color: rgb(37, 208, 102);
}
#data table input[name*=add]:hover {
  background-color: rgb(28, 158, 77);
}
#data table input[name*=update] {
  background-color: rgb(255, 158, 0);
}
#data table input[name*=update]:hover {
  background-color: rgb(158, 103, 13);
}
#data table input[name*=remove] {
  background-color: rgb(217, 0, 0);
}
#data table input[name*=remove]:hover {
  background-color: rgb(140, 14, 14);
}

#upload {
  margin: auto;
  padding: 0 10% 0 10%;
  max-width: 750px;
}
@media screen and (max-width: 768px) {
  #upload {
    padding-left: 5%;
    padding-right: 5%;
  }
}
#upload p {
  margin: 1.5rem 0 1.5rem 0;
}
#upload form {
  padding: 1.5rem;
  border-radius: 0.25rem;
  background-image: linear-gradient(to right, rgb(140, 14, 14), rgb(217, 0, 0));
}
#upload form label {
  display: block;
}
#upload form select {
  width: 50%;
  margin: 1rem 0 1rem 0;
  border: none;
  outline: none;
  padding: 0.5rem;
  box-sizing: border-box;
  transition: background-color 300ms ease;
  line-height: 1;
  border-radius: 0.5rem;
}
#upload form select:focus {
  background-color: beige;
}
#upload form div:first-of-type {
  border: 0.25rem dashed rgb(161, 161, 170);
  margin: 1rem 0 1.5rem 0;
  position: relative;
  transition: background-color 200ms ease-out, border 200ms ease;
}
#upload form div:first-of-type:hover {
  border: 0.25rem dashed white;
  background-color: rgb(140, 14, 14);
}
#upload form div:first-of-type h3 {
  color: rgb(161, 161, 170);
  padding: 4rem 1rem 4rem 1rem;
  text-transform: uppercase;
}
#upload form div:first-of-type input[type=file] {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  position: absolute;
}
#upload form div:last-of-type {
  display: none;
}
#upload form div:last-of-type img {
  height: 100%;
  margin: auto;
  display: block;
  max-width: 100%;
  min-width: 200px;
  min-height: 200px;
}
#upload form div:last-of-type button {
  color: white;
  border: none;
  cursor: pointer;
  bottom: 3rem;
  outline: none;
  padding: 0.5rem;
  position: relative;
  border-radius: 0.25rem;
  background-color: rgb(24, 24, 27);
}
@media screen and (pointer: fine) and (hover: hover) {
  #upload form div:last-of-type button {
    transition: background-color 200ms ease;
  }
  #upload form div:last-of-type button:hover {
    color: rgb(24, 24, 27);
    background-color: white;
  }
}
#upload form div:hover h3 {
  color: white;
}
#upload form input[type=submit] {
  color: white;
  border: none;
  outline: none;
  padding: 0.5rem;
  transition: background-color 300ms ease-out, border 200ms ease;
  font-weight: 700;
  border-radius: 0.25rem;
  border-bottom: 0.25rem solid rgb(140, 14, 14);
  background-color: rgb(217, 0, 0);
}
#upload form input[type=submit]:hover {
  cursor: pointer;
  transition: background-color 300ms ease-out;
  background-color: red;
}
@media screen and (pointer: fine) and (hover: hover) {
  #upload form input[type=submit]:active {
    border: 0;
    transition: border 200ms ease;
  }
}

#login {
  display: flex;
  padding: 0 5% 0 5%;
  min-height: 60vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#login #failed {
  color: rgb(217, 0, 0);
  margin-top: 2rem;
  font-weight: 700;
  line-height: 1.25rem;
  text-transform: uppercase;
}
#login h2 {
  margin: 4rem 0 0;
}
#login form {
  padding: 1.5rem;
  max-width: 700px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 4rem;
  border-radius: 0.25rem;
  background-image: linear-gradient(to right, rgb(140, 14, 14), rgb(217, 0, 0));
}
#login form a {
  width: 10.25rem;
  margin: -0.5rem 0 1.5rem 1.5rem;
  display: block;
  text-align: left;
  font-style: italic;
}
#login form input[required] {
  width: calc(100% - 2rem);
  border: none;
  margin: 0.5rem 0 1rem 0;
  outline: none;
  padding: 1rem;
  box-sizing: border-box;
  transition: background-color 300ms ease;
  line-height: 1;
  border-radius: 0.5rem;
}
#login form input[required]:focus {
  background-color: beige;
}
#login form input[type=submit] {
  color: white;
  cursor: pointer;
  border: none;
  padding: 0.75rem 1.25rem;
  transition: background-color 250ms ease;
  border-radius: 0.25rem;
  background-color: rgb(217, 0, 0);
}
#login form input[type=submit]:hover {
  background-color: rgb(140, 14, 14);
}

#logout {
  top: 50%;
  left: 50%;
  border: 3px dashed rgb(217, 0, 0);
  padding: 1rem;
  position: absolute;
  transform: translate(-50%, -50%);
}
#logout h1 {
  margin-top: 0;
}