// ------------------ //
// Variables globales //
// ------------------ //
$theme-color-dark: rgb(54, 24, 107);
$theme-color-bright: rgb(103, 58, 183);

@import "variables";
@import "main";

// ------- //
// En-tête //
// ------- //
header > img
{
	// Vagues marquant la fin de l'en-tête.
	transform: translateY(-25%);
}

// --------------------- //
// Formulaire de contact //
// --------------------- //
#form
{
	// Corps de la section.
	color: $theme-text-color;
	margin: auto;
	padding: calc(5% + 5rem) 5% 5rem 5%;
	max-width: 800px;

	@media screen and (min-width: 1024px)
	{
		// Modification des marges sur les grands écrans.
		padding-left: 15%;
		padding-right: 15%;
	}

	h2
	{
		// Titre de la section.
		color: white;
		margin: 0 0 4rem;
		font-size: 1.5rem;
	}

	h3
	{
		// Identifiant de la section.
		font-weight: 400;
		margin-bottom: 0.5rem;
	}

	p
	{
		// Descriptif de la section.
		line-height: 1.5rem;
		margin-bottom: 2.5rem;
	}

	form
	{
		// Corps du formulaire.
		padding: 1.5rem;
		user-select: none;
		border-radius: 0.25rem;
		background-image: linear-gradient(to right, $theme-color-dark, $theme-color-bright);

		label
		{
			// Libellé de chaque champ de saisie.
			color: white;
		}

		#content
		{
			// Champ de saisie pour indiquer le message.
			height: 200px;
		}

		input[type *= e], select, textarea
		{
			// Champs de saisie et sélecteur de sujets.
			width: calc(100% - 2rem);
			border: none;
			resize: vertical;
			margin: 0.5rem 0 1rem 0;
			outline: none;
			padding: 1rem;
			box-sizing: border-box;
			transition: background-color 300ms ease;
			line-height: 1; // Correction étrange pour le normalisateur CSS.
			border-radius: 0.5rem;

			&:focus, &:focus, &:focus
			{
				// Animation lors de la sélection de l'élément.
				background-color: beige;
			}
		}

		input[type = submit]
		{
			// Bouton de validation.
			color: white;
			cursor: pointer;
			border: none;
			padding: 0.75rem 1.25rem;
			transition: background-color 250ms ease;
			border-radius: 0.25rem;
			background-color: $theme-color-bright;

			&:hover
			{
				// Animation lors du survol de l'élément.
				background-color: $theme-color-dark;
			}
		}
	}
}

// ---------------------- //
// Validations JavaScript //
// ---------------------- //
#form
{
	#result
	{
		// Message de validation après l'envoi du formulaire.
		color: $theme-color-bright;
		font-size: 2rem;
		font-weight: 700;
		line-height: 2rem;
	}

	#warning
	{
		// Messages de vérification pendant l'écriture des informations.
		color: orange;
		border: 3px dashed orange;
		padding: 0.5rem;
		display: none;
		line-height: 1.5rem;

		&.show
		{
			// Apparition du message de validation.
			display: inline-block;
		}

		&.hide
		{
			// Disparition du message de validation.
			display: none;
		}

		@media (prefers-reduced-motion: no-preference)
		{
			// Lancement d'une animation d'apparition et de disparition
			//	du message de validation (disponible uniquement si
			//	l'utilisateur n'a pas demandé à réduire les animations).
			&.show
			{
				display: inline-block;
				animation: 250ms show 0s forwards;
			}

			&.hide
			{
				display: inline-block;
				animation: 250ms hide 0s forwards;
			}

			@keyframes show
			{
				// Animation d'apparition du message de validation.
				from
				{
					border: 3px dashed orange;
					margin: 0; padding: 0.5rem;
				}
			}

			@keyframes hide
			{
				// Animation de disparition du message de validation.
				to
				{
					border: none;
					margin: 0; padding: 0; // La vie serait plus belle avec display: none;
					opacity: 0; height: 0;
				}
			}
		}
	}

	input + span, textarea + span
	{
		// Icône d'état.
		position: relative;

		&::before
		{
			top: 2px;
			left: -1.5rem;
			position: absolute;
		}
	}

	textarea + span::before
	{
		top: -1.5rem; // Pourquoi une zone de saisie se comporte différemment ?...
		left: -2rem;
	}

	input:valid + span::before, textarea:valid + span::before
	{
		// Champ valide.
		color: green;
		content: "✓";
	}

	input:invalid + span::before, textarea:invalid + span::before
	{
		// Champ invalide.
		color: red;
		content: "✖";
	}

	input:invalid, textarea:invalid
	{
		// Effet de sélection.
		transition: box-shadow 250ms ease;
	}

	input:focus:invalid, textarea:focus:invalid
	{
		box-shadow: inset 0 0 0 3px red;
	}
}