html {
  color: white;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeSpeed;
  min-width: 360px;
  scroll-behavior: smooth;
  background-image: url("../assets/images/decorations/wireframes.png");
  background-color: rgb(24, 24, 27);
  background-attachment: fixed;
}

section {
  transition: opacity 700ms ease;
}

strong {
  font-size: 1.1rem;
  -webkit-text-decoration: underline solid;
          text-decoration: underline solid;
}

noscript {
  top: 1rem;
  right: 1rem;
  padding: 0.5rem;
  margin-left: 6rem;
  z-index: 10;
  position: fixed;
  color: white;
  background-color: red;
}

::-moz-selection {
  color: white;
  background-color: rgb(12, 87, 157);
}

::selection {
  color: white;
  background-color: rgb(12, 87, 157);
}

::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  background-color: whitesmoke;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(12, 87, 157);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(39, 39, 42);
}

header {
  padding: 4rem 2.5rem 4rem 2.5rem;
  background-image: linear-gradient(to right, rgb(12, 87, 157), rgb(0, 133, 255));
}
header h1 {
  margin: 0;
  display: inline-block;
  font-size: 2rem;
  margin-top: 13rem;
  -webkit-animation: blink 500ms step-end infinite alternate;
          animation: blink 500ms step-end infinite alternate;
  border-right: 0.15rem solid white;
}
header h2 {
  margin-top: 1rem;
  font-weight: 400;
}
header > img {
  left: 0;
  z-index: -1;
  position: absolute;
  min-width: 360px;
  max-width: 100%;
  min-height: 400px;
}

@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
footer ul {
  margin: 0;
  -moz-columns: 3;
       columns: 3;
  padding: 1rem 10% 1rem 10%;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  -moz-column-rule: thin dotted white;
       column-rule: thin dotted white;
  list-style-type: none;
}
footer ul li {
  padding: 1rem 0 1rem 0;
  word-break: break-word;
}
footer ul li a {
  padding: 0.5rem;
  background-color: rgb(12, 87, 157);
}

nav {
  display: flex;
  justify-content: center;
}
nav ul {
  z-index: 5;
  position: fixed;
  border-radius: 6rem;
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  background-color: rgba(0, 133, 255, 0.7);
  list-style-type: none;
  padding: 1.25rem 2.5rem 1.25rem 2.5rem;
  top: 7rem;
  margin: 0 5% 0 5%;
  min-width: calc(360px - 7rem);
}
@media not all and (-webkit-min-device-pixel-ratio: 0), not all and (min-resolution: 0.001dpcm) {
  nav ul {
    margin: 0;
  }
}
@-moz-document url-prefix() {
  nav ul {
    background-color: rgba(0, 133, 255, 0.9);
  }
}
nav ul li {
  display: inline;
  padding: 0 0.75rem 0 0.75rem;
  line-height: 1.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
nav ul li:first-of-type {
  padding-left: 0;
}
nav ul li:last-of-type {
  padding-right: 0;
}

ul#flags {
  top: 0;
  left: 0;
  z-index: 10;
  position: absolute;
  width: 5rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  background-color: transparent;
}
ul#flags li {
  padding: 10px;
  transition: background-color 300ms ease-out;
}
@media screen and (pointer: fine) and (hover: hover) {
  ul#flags li:hover {
    background-color: rgb(0, 133, 255);
  }
}
ul#flags li:nth-of-type(n+2) {
  display: none;
}
ul#flags li button {
  border: 0;
  margin: 0;
  cursor: pointer;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: none;
}
ul#flags li button span {
  color: white;
  display: block;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}
ul#flags li button img {
  width: 53.325px;
  height: 40px;
}
ul#flags:hover li {
  display: block;
}

#scrollTop {
  width: 3rem;
  height: 3rem;
  right: 1rem;
  bottom: 1rem;
  position: fixed;
  z-index: 5;
  border-radius: 1rem;
  border: none;
  opacity: 0;
  background-color: rgb(12, 87, 157);
  background-size: 50%;
  background-image: url("../assets/images/decorations/arrow_up.svg");
  background-repeat: no-repeat;
  background-position: center;
  filter: contrast(50%);
  transition: filter 300ms linear, opacity 200ms ease-out;
  will-change: transform;
}
#scrollTop.show {
  opacity: 1;
}
#scrollTop:hover {
  cursor: pointer;
  filter: contrast(100%);
}

#contributions {
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  scrollbar-width: none;
  cursor: pointer;
  display: none;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.95);
}
#contributions ::-webkit-scrollbar {
  display: none;
}
#contributions > h2 {
  margin: 6rem 10% 6rem 10%;
  font-size: 3rem;
}
@media (prefers-reduced-motion: no-preference) {
  #contributions > h2 {
    -webkit-animation: rainbow 2.5s linear infinite;
            animation: rainbow 2.5s linear infinite;
  }
  @-webkit-keyframes rainbow {
    0%, 100% {
      color: rgb(255, 0, 0);
    }
    8% {
      color: rgb(255, 127, 0);
    }
    16% {
      color: rgb(255, 255, 0);
    }
    25% {
      color: rgb(127, 255, 0);
    }
    33% {
      color: rgb(0, 255, 0);
    }
    41% {
      color: rgb(0, 255, 127);
    }
    50% {
      color: rgb(0, 255, 255);
    }
    58% {
      color: rgb(0, 127, 255);
    }
    66% {
      color: rgb(0, 0, 255);
    }
    75% {
      color: rgb(127, 0, 255);
    }
    83% {
      color: rgb(255, 0, 255);
    }
    91% {
      color: rgb(255, 0, 127);
    }
  }
  @keyframes rainbow {
    0%, 100% {
      color: rgb(255, 0, 0);
    }
    8% {
      color: rgb(255, 127, 0);
    }
    16% {
      color: rgb(255, 255, 0);
    }
    25% {
      color: rgb(127, 255, 0);
    }
    33% {
      color: rgb(0, 255, 0);
    }
    41% {
      color: rgb(0, 255, 127);
    }
    50% {
      color: rgb(0, 255, 255);
    }
    58% {
      color: rgb(0, 127, 255);
    }
    66% {
      color: rgb(0, 0, 255);
    }
    75% {
      color: rgb(127, 0, 255);
    }
    83% {
      color: rgb(255, 0, 255);
    }
    91% {
      color: rgb(255, 0, 127);
    }
  }
}
#contributions ul {
  padding-left: 0;
  list-style-type: none;
}
#contributions ul li {
  margin: 0 10% 3rem 10%;
  line-height: 1.5rem;
}
@media screen and (pointer: fine) and (hover: hover) {
  #contributions ul li {
    opacity: 0.5;
    transition: opacity 500ms ease;
  }
  #contributions ul li:hover {
    opacity: 1;
    transition: opacity 500ms ease;
  }
}
#contributions ul li h3 {
  font-size: 2rem;
  text-decoration: underline;
}
#contributions ul li p {
  color: rgb(161, 161, 170);
}

a {
  color: inherit;
  display: inline-block;
  position: relative;
  text-decoration: none;
}

h2 a::after, article a::after, form a::after, li > a::after {
  left: 0;
  bottom: -2px;
  position: absolute;
  width: 100%;
  height: 1px;
  content: "";
  transform: scale(0);
}
h2 a:active, article a:active, form a:active, li > a:active {
  background-color: rgb(12, 87, 157);
}
h2 a:hover, article a:hover, form a:hover, li > a:hover {
  transition: background-color 500ms ease-out;
}
h2 a:hover::after, article a:hover::after, form a:hover::after, li > a:hover::after {
  transform: scale(1);
  transition: transform 300ms ease;
  background-color: currentColor;
}

header a img {
  width: 2rem;
  filter: drop-shadow(0 0 1rem rgb(12, 87, 157));
  margin: 4rem 1rem 0 1rem;
  padding: 0.625rem;
  transition: transform 300ms ease;
  border-radius: 1rem;
  background-color: currentColor;
}
header a img:hover {
  transform: scale(1.2);
  transition: transform 300ms ease;
}

#aboutme, #skills, #contact {
  color: rgb(161, 161, 170);
  padding: calc(10% + 5rem) 20% calc(10% + 5rem) 20%;
}

#aboutme > h2, #projects > h2, #skills > h2, #contact > h2 {
  color: white;
  margin: 0 0 4rem;
  font-size: 1.5rem;
}

#aboutme > h3, #projects > h3, #skills > h3, #contact > h3 {
  font-weight: 400;
  margin-bottom: 0.5rem;
}

#aboutme p, #skills p {
  line-height: 1.25rem;
}

#projects {
  color: rgb(161, 161, 170);
  background-image: linear-gradient(to right, rgb(12, 87, 157), rgb(0, 133, 255));
}
#projects .row article {
  color: white;
  font-size: 1.25rem;
  margin: 1rem 5% 0 5%;
  padding: 1rem;
  box-shadow: 0 1rem 2rem -1rem rgba(24, 24, 27, 0.3);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 1rem;
  background-size: cover;
  background-image: url("../assets/images/placeholder.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (pointer: fine) and (hover: hover) {
  #projects .row article {
    filter: blur(0.75px) grayscale(1);
    transition: filter 300ms ease-in-out;
  }
  #projects .row article:hover {
    filter: blur(0) grayscale(0);
  }
}
@media screen and (min-width: 1024px) {
  #projects .container {
    margin: -5rem auto -1rem auto;
    display: table;
    border-spacing: 3rem;
    border-collapse: separate;
  }
  #projects .container .row article {
    width: 500px;
    height: 300px;
    display: table-cell;
    box-sizing: border-box;
    table-layout: fixed;
    vertical-align: middle;
  }
}
#projects img:first-child {
  left: 0;
  z-index: -1;
  position: absolute;
  transform: translateY(-60%);
  min-width: 360px;
  max-width: 100%;
  min-height: 400px;
}
#projects img:last-child {
  left: 0;
  z-index: -1;
  position: absolute;
  transform: translateY(-40%);
  min-width: 360px;
  max-width: 100%;
  min-height: 400px;
}

#skills {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 7.5%;
}
@media screen and (max-width: 768px) {
  #skills {
    -moz-column-gap: 2.5%;
         column-gap: 2.5%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
#skills div {
  -moz-column-gap: 7.5%;
       column-gap: 7.5%;
  -moz-column-count: 2;
       column-count: 2;
}
#skills div article {
  padding: 1rem;
}
#skills div article img {
  width: 10%;
  min-width: 4rem;
}
#skills div article h2 {
  color: white;
  word-break: break-word;
}

#contact {
  margin: 0 17.5% 7.5% 17.5%;
  padding: 2rem;
  border-radius: 1rem;
  background-image: linear-gradient(to right, rgb(12, 87, 157), rgb(0, 133, 255));
}
@media screen and (max-width: 768px) {
  #contact {
    margin-left: 7.5%;
    margin-right: 7.5%;
  }
}
#contact h2 {
  margin-bottom: 2rem;
}
#contact h2 + h2 {
  text-decoration: underline;
}
#contact h3 {
  margin-top: 0;
}
#contact span {
  color: black;
  font-weight: 700;
  border-radius: 0.5rem;
  border: none;
  display: inline-block;
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: rgba(255, 255, 255, 0.7);
  transform: translateY(0);
  transition: transform 150ms cubic-bezier(0.4, 0, 1, 1);
}
#contact span:hover {
  cursor: pointer;
  transform: translateY(-0.25rem);
  background-color: white;
}