/* Document entier */
html
{
	/* Traitement des textes */
	color: white;
	text-align: center;
	font-family: "Open Sans", sans-serif;

	/* Disposition et affichage */
	--html-width: 560px;

	min-width: var(--html-width);
	scroll-behavior: smooth;
	background-color: rgb(24, 24, 27);
}

strong
{
	/* Éléments de haute importance */
	font-size: 1.1rem;
	text-decoration: underline solid;
}

/* En-tête */
header
{
	/* Corps de l'en-tête */
	padding: 64px 40px 64px 40px;
	background: linear-gradient(to right, rgb(12, 87, 157), rgb(0, 133, 255));
}

header > h1
{
	/* Prénom & nom */
	margin: 0;
	font-size: 2rem;
	margin-top: 128px;
}

header > h2
{
	/* Description succincte */
	margin-top: 16px;
	font-weight: 400;
}

header a > img
{
	/* Plateformes de communication */
	width: 32px;
	margin: 48px 16px 0 16px;
	padding: 10px;
	border-radius: 10px;
}

header > img
{
	/* Vagues marquant la fin de l'en-tête */
	left: 0;
	z-index: -1;
	position: absolute;
	min-width: var(--html-width);
	min-height: 400px;
}

.steam { background-color: rgb(63, 63, 70); }
.discord { background-color: rgb(88, 101, 242); }
.github { background-color: rgb(39, 39, 42); }
.twitter { background-color: rgb(29, 161, 242); }
.cv { background-color: white; }

.steam, .discord, .github, .twitter, .cv
{
	/* Animation de réinitialisation de l'échelle */
	transition: transform 300ms ease;
}

.steam:hover, .discord:hover, .github:hover,
.twitter:hover, .cv:hover
{
	/* Animation de sélection d'une icône
		(modification de l'échelle) */
	transform: scale(1.2);
	transition: transform 300ms ease;
}

/* Barre de navigation */
nav > ul
{
	/* Propriétés principales de la barre */
	z-index: 5;
	position: fixed;
	border-radius: 100px;
	backdrop-filter: blur(8px);
	background-color: rgba(0, 133, 255, 0.7);

	/* Suppression du style par défaut des listes
		non ordonnées */
	list-style: none;

	/* Ajustement de l'espacement interne de la barre */
	padding: 20px 40px 20px 40px;

	/* Alignement automatique centrée de la barre
		(de façon horizontale) */
	top: 70px;
	left: 0;
	right: 0;
	width: 427px; /* 415 de base + 12 de marge à droite  */
	margin: 0 auto 0 auto;
}

nav > ul li
{
	/* Affichage des textes de la liste */
	display: inline;
	padding: 0 12px 0 12px;
	line-height: 24px;
}

/* Sélection de la langue */
aside select
{
	/* Positionnement */
	top: 0;
	left: 0;
	position: absolute;

	/* Dimensions */
	width: calc(21.33px * 2.5); /* Gardons les proportions originales... */
	height: calc(16px * 2.5);
	margin: 1.5%;

	/* Apparence */
	color: transparent;
	border: none;
	outline: none;
	border-radius: 4px;

	/* Drapeaux */
	background-size: cover;
	background-image: url("../images/flags/fr.svg"); /* Doit être modifié depuis le JS */
	background-repeat: no-repeat;
	background-position: 0 0;
}

aside select:hover
{
	/* Curseur de sélection habituel */
	cursor: pointer;
}

/* Section : à propos de moi */
#aboutme, #formations
{
	/* Corps de la section */
	color: rgb(161, 161, 170);

	/* Note : Le padding haut/bas prend en compte une taille fixe
	pour toujours garder une marge quelque soit la résolution */
	--offset: calc(10% + 72px);
	padding: var(--offset) 20% var(--offset) 20%;
}

#aboutme > h2, #projects > h2, #formations > h2
{
	/* Titre de la section */
	color: white;
	margin: 0 0 60px;
	font-size: 1.5rem;
}

#aboutme > h3, #projects > h3, #formations > h3
{
	/* Identifiant de la section */
	font-weight: 400;
	margin-bottom: 8px;
}

#aboutme p
{
	/* Description */
	line-height: 26px;
}

/* Section : projets */
#projects
{
	/* Corps de la section */
	color: rgb(161, 161, 170);
	padding: 16px;
	background: linear-gradient(to right, rgb(12, 87, 157), rgb(0, 133, 255));
}

#projects .row article
{
	/* Corps de chaque projet */
	color: white;
	font-size: 24px;

	margin: 0 5% 24px 5%;
	padding: 32px;

	box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
	border-radius: 8px;

	/* Fond d'écran de chaque bouton */
	background-size: cover;
	background-image: url("../images/projects/placeholder.jpg"); /* Doit être modifié depuis le JS */
	background-color: rgb(39, 39, 42);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

@media screen and (pointer: fine) and (hover: hover)
{
	/* On affiche un effet de sélection pour les affichages
		sur ordinateurs uniquement */
	#projects .row article
	{
		/* État initial */
		filter: blur(0.75px) grayscale(1);
		transition: filter 300ms ease-in-out;

		background-size: cover;
		background-image: url("../images/projects/placeholder.jpg"); /* Doit être modifié depuis le JS */
		background-color: rgb(39, 39, 42);
		background-repeat: no-repeat;
		background-attachment: fixed;
	}

	#projects .row article:hover
	{
		/* Apparition de la couleur et suppression du flou
			lors du passage de la souris par dessus */
		filter: blur(0px) grayscale(0);
	}
}

@media screen and (min-width: 1024px)
{
	/* On affichage une disposition différente sur les
		grands écrans d'ordinateur */
	#projects .container
	{
		/* Boite simulante un tableau de colonnes/cellules */
		margin: -75px auto -25px auto;
		display: table;
		border-spacing: 48px;
		border-collapse: separate;
	}

	#projects .row article
	{
		/* Cellules de la boite */
		width: 500px;
		height: 300px;

		display: table-cell;
		box-sizing: border-box;

		table-layout: fixed;
		vertical-align: middle;
	}
}

#projects > img:first-child
{
	/* Vagues marquant le début de la section */
	left: 0;
	z-index: -1;
	position: absolute;
	transform: translateY(-60%);
	min-width: var(--html-width);
	min-height: 400px;
}

#projects > img:last-child
{
	/* Vagues marquant la fin de la section */
	left: 0;
	z-index: -1;
	position: absolute;
	transform: translateY(-30%);
	min-width: var(--html-width);
	min-height: 400px;
}

/* Section : formations */
#formations
{

}

/* Liens */
a
{
	/* État initial des liens */
	color: inherit;
	position: relative;
	text-decoration: none;
}

article a:active, li a:active
{
	/* Passage progressif en bleu lors de l'appui
		(active + hover) */
	background: rgb(12, 87, 157);
}

article a:hover, li a:hover
{
	transition: background 500ms ease-out;
}

article a::after, li a::after
{
	/* Création d'une ligne qui apparaîtra
		progressivement lors de la sélection */
	left: 0;
	bottom: 0;
	position: absolute;

	width: 100%;
	height: 1px;

	content: "";
	transform: scale(0);
}

article a:hover::after, li a:hover::after
{
	transform: scale(1);
	transition: transform 300ms ease;
	background-color: white;
}