/* Document entier */
html
{
	/* Traitement des textes */
	color: white;
	text-align: center;
	font-family: "Open Sans", sans-serif;

	/* Disposition et affichage */
	--html-width: 560px;

	min-width: var(--html-width);
	scroll-behavior: smooth;
	background-color: rgb(24, 24, 27);
}

strong
{
	/* Éléments de haute importance */
	font-size: 1.1rem;
	text-decoration: underline solid;
}

/* En-tête */
header
{
	/* Corps de l'en-tête */
	padding: 4rem 2.5rem 4rem 2.5rem;
	background-image: linear-gradient(to right, rgb(12, 87, 157), rgb(0, 133, 255));
}

header > h1
{
	/* Prénom & nom */
	margin: 0;
	font-size: 2rem;
	margin-top: 8rem;
}

header > h2
{
	/* Description succincte */
	margin-top: 1rem;
	font-weight: 400;
}

header a > img
{
	/* Plateformes de communication */
	width: 2rem;
	margin: 3rem 1rem 0 1rem;
	padding: 0.625rem;
	border-radius: 1rem;
}

header > img
{
	/* Vagues marquant la fin de l'en-tête */
	left: 0;
	z-index: -1;
	position: absolute;
	min-width: var(--html-width);
	min-height: 400px;
}

.steam { background-color: rgb(63, 63, 70); }
.discord { background-color: rgb(88, 101, 242); }
.github { background-color: rgb(39, 39, 42); }
.twitter { background-color: rgb(29, 161, 242); }
.cv { background-color: white; }

.steam, .discord, .github, .twitter, .cv
{
	/* Animation de réinitialisation de l'échelle */
	transition: transform 300ms ease;
}

.steam:hover, .discord:hover, .github:hover,
.twitter:hover, .cv:hover
{
	/* Animation de sélection d'une icône
		(modification de l'échelle) */
	transform: scale(1.2);
	transition: transform 300ms ease;
}

/* Barre de navigation */
nav > ul
{
	/* Propriétés principales de la barre */
	z-index: 5;
	position: fixed;
	border-radius: 6rem;
	backdrop-filter: blur(0.5rem);
	background-color: rgba(0, 133, 255, 0.7);

	/* Suppression du style par défaut des listes
		non ordonnées */
	list-style: none;

	/* Ajustement de l'espacement interne de la barre */
	padding: 1.25rem 2.5rem 1.25rem 2.5rem;

	/* Alignement automatique centrée de la barre
		(de façon horizontale) */
	top: 4.25rem;
	left: 0;
	right: 0;
	width: 432px; /* 420 de base + 12 de marge à droite  */
	margin: 0 auto 0 auto;
}

nav > ul li
{
	/* Affichage des textes de la liste */
	display: inline;
	padding: 0 0.75rem 0 0.75rem;
	line-height: 1.5rem;
}

/* Sélection de la langue */
aside select
{
	/* Positionnement */
	top: 0;
	left: 0;
	position: absolute;

	/* Dimensions */
	width: calc(21.33px * 2.5); /* Gardons les proportions originales... */
	height: calc(16px * 2.5);
	margin: 1.5%;

	/* Apparence */
	color: transparent;
	border: none;
	outline: none;
	border-radius: 4px;

	/* Drapeaux */
	background-size: cover;
	background-image: url("../images/flags/fr.svg"); /* Doit être modifié depuis le JS */
	background-repeat: no-repeat;
	background-position: 0 0;
}

aside select:hover
{
	/* Curseur de sélection habituel */
	cursor: pointer;
}

aside select option
{
	/* Couleur des options */
	color: white;
	background-color: rgb(24, 24, 27);
}

/* Section : à propos de moi */
#aboutme, #experiences, #contact
{
	/* Corps de la section */
	color: rgb(161, 161, 170);

	/* Note : Le padding haut/bas prend en compte une taille fixe
		pour toujours garder une marge quelque soit la résolution */
	--offset: calc(10% + 5rem);
	padding: var(--offset) 20% var(--offset) 20%;
}

#aboutme > h2, #projects > h2, #experiences > h2, #contact > h2
{
	/* Titre de la section */
	color: white;
	margin: 0 0 4rem;
	font-size: 1.5rem;
}

#aboutme > h3, #projects > h3, #experiences > h3, #contact > h3
{
	/* Identifiant de la section */
	font-weight: 400;
	margin-bottom: 0.5rem;
}

#aboutme p, #experiences p
{
	/* Description */
	line-height: 1.25rem;
}

/* Section : projets */
#projects
{
	/* Corps de la section */
	color: rgb(161, 161, 170);
	background-image: linear-gradient(to right, rgb(12, 87, 157), rgb(0, 133, 255));
}

#projects .row article
{
	/* Corps de chaque projet */
	color: white;
	font-size: 1.25rem;

	margin: 1rem 5% 0 5%;
	padding: 3rem;

	box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.25);
	border-radius: 1rem;

	/* Fond d'écran de chaque bouton */
	background-size: cover;
	background-image: url("../images/projects/placeholder.jpg"); /* Doit être modifié depuis le JS */
	background-color: rgb(24, 24, 27);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

@media screen and (pointer: fine) and (hover: hover)
{
	/* On affiche un effet de sélection pour les affichages
		sur ordinateurs uniquement */
	#projects .row article
	{
		/* État initial (avant animation) */
		filter: blur(0.75px) grayscale(1);
		transition: filter 300ms ease-in-out;

		background-size: cover;
		background-image: url("../images/projects/placeholder.jpg"); /* Doit être modifié depuis le JS */
		background-color: rgb(24, 24, 27);
		background-repeat: no-repeat;
		background-attachment: fixed;
	}

	#projects .row article:hover
	{
		/* Apparition de la couleur et suppression du flou
			lors du passage de la souris par dessus */
		filter: blur(0) grayscale(0);
	}
}

@media screen and (min-width: 1024px)
{
	/* On affichage une disposition différente sur les
		grands écrans d'ordinateur */
	#projects .container
	{
		/* Boite simulante un tableau de colonnes/cellules */
		margin: -5rem auto -1rem auto;
		display: table;
		border-spacing: 3rem;
		border-collapse: separate;
	}

	#projects .row article
	{
		/* Cellules de la boite */
		width: 500px;
		height: 300px;

		display: table-cell;
		box-sizing: border-box;

		table-layout: fixed;
		vertical-align: middle;
	}
}

#projects > img:first-child
{
	/* Vagues marquant le début de la section */
	left: 0;
	z-index: -1;
	position: absolute;
	transform: translateY(-60%);
	min-width: var(--html-width);
	min-height: 400px;
}

#projects > img:last-child
{
	/* Vagues marquant la fin de la section */
	left: 0;
	z-index: -1;
	position: absolute;
	transform: translateY(-32.5%);
	min-width: var(--html-width);
	min-height: 400px;
}

/* Section : expériences */
#experiences
{
	/* Modification de la marge de remplissage
		par défaut */
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 7.5%;
}

#experiences div
{
	/* Ajout de deux colonnes dans le conteneur */
	column-gap: 7.5%;
	column-count: 2;
}

#experiences article
{
	/* Marge de remplissage dans chaque article */
	padding: 1rem;
}

#experiences article h2
{
	/* Couleur du titre de l'article */
	color: white;
}

#experiences img
{
	/* Dimensions des images d'illustration */
	width: 10%;
	min-width: 4rem;
}

/* Section : contact */
#contact
{
	/* Dimensions de la section (on tente de garder
		les valeurs originales mais en les réduisant
		un peu pour s'adapter aux autres éléments */
	margin: 0 20% calc(var(--offset) - 5%) 20%;
	padding: 2rem;

	/* Apparence de la section */
	border-radius: 1rem;
	background-image: linear-gradient(to right, rgb(12, 87, 157), rgb(0, 133, 255));
}

#contact h2
{
	/* Premier titre de la section */
	margin-bottom: 2rem;
}

#contact h3
{
	/* Deuxième titre de la section */
	margin-top: 0;
}

#contact h2 + h2
{
	/* Souligne du texte (hors titres) */
	text-decoration: underline;
}

#contact div
{
	/* Apparence du bouton de contact */
	color: black;
	font-weight: 700;
	border-radius: 0.5rem;

	display: inline-block;
	padding: 0.75rem 1.5rem 0.75rem 1.5rem;

	box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.25);
	background-color: rgba(255, 255, 255, 0.7);

	/* État initial de l'animation */
	transform: translateY(0);
	transition-duration: 150ms;
	transition-timing-function: cubic-bezier(.4, 0, 1, 1);
}

#contact div:hover
{
	/* Animation de sélection du bouton */
	cursor: pointer;
	transform: translateY(-0.25rem);
	background-color: white;
}

/* Liens */
a
{
	/* État initial des liens */
	color: inherit;
	position: relative;
	text-decoration: none;
}

article a:active, li a:active
{
	/* Passage progressif en bleu lors de l'appui
		(active + hover) */
	background: rgb(12, 87, 157);
}

article a:hover, li a:hover
{
	transition: background 500ms ease-out;
}

article a::after, li a::after
{
	/* Création d'une ligne qui apparaîtra
		progressivement lors de la sélection */
	left: 0;
	bottom: 0;
	position: absolute;

	width: 100%;
	height: 1px;

	content: "";
	transform: scale(0);
}

article a:hover::after, li a:hover::after
{
	transform: scale(1);
	transition: transform 300ms ease;
	background-color: white;
}