/* --------------- */
/* Document entier */
/* --------------- */
html
{
	/* Variables globales */
	--html-min-width: 360px;

	--theme-color-dark: 12, 87, 157;		/* Couleur foncée du thème */
	--theme-color-bright: 0, 133, 255;		/* Couleur claire du thème */

	--theme-text-color: 161, 161, 170;		/* Couleur de certains paragraphes */

	--theme-background-color: 24, 24, 27;	/* Couleur de fond par défaut */
	--theme-box-color: 39, 39, 42;			/* Couleur de certains blocs */

	/* Traitement des textes */
	color: white;
	text-align: center;
	font-family: "Open Sans", sans-serif;

	/* Disposition et affichage */
	min-width: var(--html-min-width);
	scroll-behavior: smooth;

	background-image: url("../images/decorations/wireframes.png");
	background-color: rgb(var(--theme-background-color));
	background-attachment: fixed;
}

strong
{
	/* Éléments de haute importance */
	font-size: 1.1rem;
	text-decoration: underline solid;
}

noscript
{
	/* Avertissement page sans JavaScript */
	top: 1rem;
	right: 1rem;
	padding: 0.5rem;
	margin-left: 6rem;

	z-index: 10;
	position: fixed;

	color: white;
	background-color: red;
}

::selection
{
	/* Sélection du texte */
	color: white;
	background-color: rgb(var(--theme-color-dark));
}

/* Personnalisation de la barre de défilement
	(Navigateurs WebKit uniquement : https://caniuse.com/css-scrollbar) */
::-webkit-scrollbar
{
	/* Taille dynamique */
	width: 1vw;
}

::-webkit-scrollbar-track
{
	/* Fond de la barre */
	background-color: whitesmoke;
}

::-webkit-scrollbar-thumb
{
	/* Couleur classique de la barre */
	background-color: rgb(var(--theme-color-dark));
}

::-webkit-scrollbar-thumb:hover
{
	/* Couleur de la barre lors d'une sélection */
	background-color: rgb(var(--theme-box-color));
}

/* ------- */
/* En-tête */
/* ------- */
header
{
	/* Corps de l'en-tête */
	padding: 4rem 2.5rem 4rem 2.5rem;
	background-image: linear-gradient(to right, rgb(var(--theme-color-dark)), rgb(var(--theme-color-bright)));
}

header h1
{
	/* Prénom & nom */
	margin: 0;
	font-size: 2rem;
	margin-top: 13rem;
}

header h2
{
	/* Description succincte */
	margin-top: 1rem;
	font-weight: 400;
}

header a > img
{
	/* Plateformes de communication */
	width: 2rem;
	filter: drop-shadow(0 0 1rem rgb(var(--theme-color-dark)));
	margin: 4rem 1rem 0 1rem;
	padding: 0.625rem;
	transition: transform 300ms ease;
	border-radius: 1rem;
	background-color: rgb(var(--theme-color-bright));
}

header a > img:hover
{
	/* Animation de sélection d'une icône
		(modification de l'échelle) */
	transform: scale(1.2);
	transition: transform 300ms ease;
}

header > img
{
	/* Vagues marquant la fin de l'en-tête */
	left: 0;
	z-index: -1;
	position: absolute;
	min-width: var(--html-min-width);
	max-width: 100%; /* Correctif débile pour Firefox */
	min-height: 400px;
}

/* ------------ */
/* Pied-de-page */
/* ------------ */
footer ul
{
	/* Apparence de la liste */
	margin: 0;
	columns: 3;
	padding: 1rem 10% 1rem 10%;
	column-gap: 2rem;
	column-rule: thin dotted white;
	list-style-type: none;
}

footer li
{
	/* Espacement interne des options */
	padding: 1rem 0 1rem 0;
	word-break: break-word;
}

footer a
{
	/* Couleur de fond */
	padding: 0.5rem;
	background-color: rgb(var(--theme-color-dark));
}

/* ------------------- */
/* Barre de navigation */
/* ------------------- */
nav ul
{
	/* Propriétés principales de la barre */
	z-index: 5;
	position: fixed;
	border-radius: 6rem;
	backdrop-filter: blur(0.5rem);
	-webkit-backdrop-filter: blur(0.5rem); /* Correctif débile pour Safari */
	background-color: rgba(var(--theme-color-bright), 0.7);

	/* Suppression du style par défaut des listes
		non ordonnées */
	list-style-type: none;

	/* Ajustement de l'espacement de la barre */
	padding: 1.25rem 2.5rem 1.25rem 2.5rem;

	/* Alignement automatique centrée de la barre
		(de façon horizontale) */
	top: 7rem;
	left: 5%;
	right: 5%;
	margin: 0 auto 0 auto;

	/* Dimensions minimum/maximum de la barre */
	min-width: calc(var(--html-min-width) - 7rem); /* padding + position gauche/droite */
	max-width: 422px; /* 410 de base + 12 de marge à droite  */
}

@-moz-document url-prefix()
{
	/* Modification de la composante alpha de la couleur sur
		Firefox car `backdrop-filter` est désactivé par défaut
		à cause de certains bugs. Source : https://bugzil.la/1578503 */
	nav ul
	{
		background-color: rgba(var(--theme-color-bright), 0.9);
	}
}

nav li
{
	/* Affichage des textes de la liste */
	display: inline;
	padding: 0 0.75rem 0 0.75rem;
	line-height: 1.5rem;
	user-select: none;
}

nav li:first-of-type
{
	/* Suppression de la marge à gauche
		pour la première option */
	padding-left: 0;
}

nav li:last-of-type
{
	/* Suppression de la marge à droite
		pour la dernière option */
	padding-right: 0;
}

/* ---------------------- */
/* Sélection de la langue */
/* ---------------------- */
#flags
{
	/* Positionnement */
	top: 0;
	left: 0;
	position: absolute;
	z-index: 10;

	/* Dimensions */
	width: 5rem;
	margin: 0;
	padding: 0;

	/* Apparence */
	cursor: pointer;
	list-style-type: none;
	backdrop-filter: blur(0.5rem); /* Ne fonctionne pas sur Firefox */
	-webkit-backdrop-filter: blur(0.5rem); /* Correctif débile pour Safari */
	background-color: transparent;
}

#flags p
{
	/* Nom de la langue */
	color: white;
	margin: 0.5rem 0 0;
	font-size: 0.875rem;
	user-select: none;
}

#flags img
{
	/* Image représentative de la langue */
	width: calc(21.33px * 2.5); /* Gardons les proportions originales... */
	height: calc(16px * 2.5);
}

#flags li
{
	/* État initial d'un item de la liste */
	padding: 10px;
	transition: background-color 300ms ease-out;
}

ul#flags:hover li
{
	/* Apparition des items lors du passage
		de la souris */
	display: block;
}

#flags li:nth-of-type(n+2)
{
	/* Tous les éléments (sauf le premier) sont
		cachés par défaut */
	display: none;
}

@media screen and (pointer: fine) and (hover: hover)
{
	#flags li:hover
	{
		/* Animation de survol d'un item
			(sélection avec maintien) */
		background-color: rgb(var(--theme-color-bright));
	}
}

/* -------------------------- */
/* Retour au début de la page */
/* -------------------------- */
#scrollTop
{
	/* Dimensions */
	width: 3rem;
	height: 3rem;

	/* Alignement */
	right: 1rem;
	bottom: 1rem;
	position: fixed;

	/* Disposition */
	z-index: 5;
	border-radius: 1rem;

	/* Apparence */
	border: none;
	opacity: 0;
	background-color: rgb(var(--theme-color-dark));

	/* Image de décoration */
	background-size: 50%;
	background-image: url("../images/decorations/arrow_up.svg");
	background-repeat: no-repeat;
	background-position: center;

	/* Animation d'apparition (tous les navigateurs) mais
		seul Firefox est capable de réaliser l'animation de
		sélection donc on créé deux règles (https://caniuse.com/svg-html) */
	filter: contrast(50%);

	transition: opacity 200ms ease-out;
	-moz-transition: filter 300ms linear, opacity 200ms ease-out;
}

#scrollTop.show
{
	opacity: 1;
}

#scrollTop:hover
{
	cursor: pointer;
	filter: contrast(100%); /* Voir le dernier commentaire */
}

/* ------------------------- */
/* Section : à propos de moi */
/* ------------------------- */
#aboutme, #skills, #contact
{
	/* Corps de la section */
	color: rgb(var(--theme-text-color));

	/* Note : Le padding haut/bas prend en compte une taille fixe
		pour toujours garder une marge quelque soit la résolution */
	--offset: calc(10% + 5rem);
	padding: var(--offset) 20% var(--offset) 20%;
}

#aboutme > h2, #projects > h2, #skills > h2, #contact > h2
{
	/* Titre de la section */
	color: white;
	margin: 0 0 4rem;
	font-size: 1.5rem;
}

#aboutme > h3, #projects > h3, #skills > h3, #contact > h3
{
	/* Identifiant de la section */
	font-weight: 400;
	margin-bottom: 0.5rem;
}

#aboutme p, #skills p
{
	/* Description */
	line-height: 1.25rem;
}

/* ----------------- */
/* Section : projets */
/* ----------------- */
#projects
{
	/* Corps de la section */
	color: rgb(var(--theme-text-color));
	background-image: linear-gradient(to right, rgb(var(--theme-color-dark)), rgb(var(--theme-color-bright)));
}

#projects .row article
{
	/* Corps de chaque projet */
	color: white;
	font-size: 1.25rem;

	margin: 1rem 5% 0 5%;
	padding: 1rem;

	box-shadow: 0 1rem 2rem -1rem rgba(var(--theme-background-color), 0.3);
	user-select: none;
	border-radius: 1rem;

	/* Fond d'écran de chaque bouton */
	background-size: cover;
	background-image: url("../images/placeholder.svg");
	background-repeat: no-repeat;
	background-position: center;
}

@media screen and (pointer: fine) and (hover: hover)
{
	/* On affiche un effet de sélection pour les affichages
		sur ordinateurs uniquement */
	#projects .row article
	{
		/* État initial (avant animation) */
		filter: blur(0.75px) grayscale(1);
		transition: filter 300ms ease-in-out;
	}

	#projects .row article:hover
	{
		/* Apparition de la couleur et suppression du flou
			lors du passage de la souris par dessus */
		filter: blur(0) grayscale(0);
	}
}

@media screen and (min-width: 1024px)
{
	/* On affichage une disposition différente sur les
		grands écrans d'ordinateur */
	#projects .container
	{
		/* Boite simulante un tableau de colonnes/cellules */
		margin: -5rem auto -1rem auto;
		display: table;
		border-spacing: 3rem;
		border-collapse: separate;
	}

	#projects .row article
	{
		/* Cellules de la boite */
		width: 500px;
		height: 300px;

		display: table-cell;
		box-sizing: border-box;

		table-layout: fixed;
		vertical-align: middle;
	}
}

#projects > img:first-child
{
	/* Vagues marquant le début de la section */
	left: 0;
	z-index: -1;
	position: absolute;
	transform: translateY(-60%);
	min-width: var(--html-min-width);
	max-width: 100%; /* Correctif débile pour Firefox */
	min-height: 400px;
}

#projects > img:last-child
{
	/* Vagues marquant la fin de la section */
	left: 0;
	z-index: -1;
	position: absolute;
	transform: translateY(-40%);
	min-width: var(--html-min-width);
	max-width: 100%; /* Correctif débile pour Firefox */
	min-height: 400px;
}

/* --------------------- */
/* Section : compétences */
/* --------------------- */
#skills
{
	/* Modification de la marge de remplissage
		par défaut */
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 7.5%;
}

#skills div
{
	/* Ajout de deux colonnes dans le conteneur */
	column-gap: 7.5%;
	column-count: 2;
}

#skills article
{
	/* Marge de remplissage dans chaque article */
	padding: 1rem;
}

#skills article h2
{
	/* Apparence du titre de l'article */
	color: white;
	word-break: break-word;
}

#skills img
{
	/* Dimensions des images d'illustration */
	width: 10%;
	min-width: 4rem;
}

/* ----------------- */
/* Section : contact */
/* ----------------- */
#contact
{
	/* Dimensions de la section (on tente de garder
		les valeurs originales mais en les réduisant
		un peu pour s'adapter aux autres éléments */
	margin: 0 17.5% 7.5% 17.5%;
	padding: 2rem;

	/* Apparence de la section */
	border-radius: 1rem;
	background-image: linear-gradient(to right, rgb(var(--theme-color-dark)), rgb(var(--theme-color-bright)));
}

#contact h2
{
	/* Premier titre de la section */
	margin-bottom: 2rem;
}

#contact h3
{
	/* Deuxième titre de la section */
	margin-top: 0;
}

#contact h2 + h2
{
	/* Souligne du texte (hors titres) */
	text-decoration: underline;
}

#contact span
{
	/* Apparence du bouton de contact */
	color: black;
	font-weight: 700;
	border-radius: 0.5rem;

	border: none;
	display: inline-block;
	padding: 0.75rem 1.5rem 0.75rem 1.5rem;
	user-select: none;
	background-color: rgba(255, 255, 255, 0.7);

	/* État initial de l'animation */
	transform: translateY(0);
	transition: transform 150ms cubic-bezier(.4, 0, 1, 1);
}

#contact span:hover
{
	/* Animation de sélection du bouton */
	cursor: pointer;
	transform: translateY(-0.25rem);
	background-color: white;
}

/* ----------------------- */
/* Section : contributions */
/* ----------------------- */
#contributions
{
	/* Dimensions et position de la section */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	width: 100%;
	height: 100%;
	position: fixed;

	/* Apparence de la section */
	cursor: pointer;
	display: none;
	z-index: 15;
	background-color: rgba(0, 0, 0, 0.75);
}

#contributions > p
{
	/* Texte de la section */
	color: white;
	margin: 0;
	padding: 2rem;
	position: absolute;
	font-size: 2rem;
	text-align: left;
}

/* ----- */
/* Liens */
/* ----- */
a
{
	/* État initial des liens */
	color: inherit;
	display: inline-block;
	position: relative;
	text-decoration: none;
}

h2 a:active, article a:active, li > a:active
{
	/* Passage progressif en bleu lors de l'appui
		(active + hover) */
	background-color: rgb(var(--theme-color-dark));
}

h2 a:hover, article a:hover, li > a:hover
{
	transition: background-color 500ms ease-out;
}

h2 a::after, article a::after, li > a::after
{
	/* Création d'une ligne qui apparaîtra
		progressivement lors de la sélection */
	left: 0;
	bottom: -2px;
	position: absolute;

	width: 100%;
	height: 1px;

	content: "";
	transform: scale(0);
}

h2 a:hover::after, article a:hover::after, li > a:hover::after
{
	transform: scale(1);
	transition: transform 300ms ease;
	background-color: currentColor;
}