/* En-tête */
header
{
	background-image: linear-gradient(to right, rgb(158, 103, 13), rgb(255, 158, 0));
}

header > img
{
	/* Vagues marquant la fin de l'en-tête */
	transform: translateY(-27.5%);
}

/* Barre de navigation */
nav > ul
{
	max-width: 437px; /* 425 de base + 12 de marge à droite  */
	background-color: rgba(255, 158, 0, 0.7);
}

/* Projets */
article
{
	/* Corps de chaque projet */
	margin: 0 5% 1.5rem 5%;
	padding: 2rem;

	color: white;
	text-align: right;

	box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.25);
	border-radius: 1rem;
	background-color: rgb(39, 39, 42);
}

@media screen and (min-width: 1024px)
{
	/* Modification des marges sur les grands écrans */
	article
	{
		margin-left: 15%;
		margin-right: 15%;
	}
}

article:first-of-type
{
	/* Ajout d'une marge uniquement au premier projet */
	margin-top: calc(7.5% + 5rem);
}

article div.properties > h1
{
	/* Nom du projet */
	text-align: left;
	line-height: 32px;
}

article div.properties > p
{
	/* Description du projet */
	overflow: hidden;
	text-align: justify;
	line-height: 26px;
}

article div.properties > img
{
	/* Icône du projet */
	float: left;
	height: 64px;
	margin-right: 32px;
}

article div.images div
{
	/* État initial de la galerie des photos */
	width: 45%;
	margin: 5px;
	border: 1px solid grey;
	display: inline-block;
}

article div.images div:hover
{
	/* Animation de sélection des images */
	border: 1px solid white;
}

article div.images div img
{
	/* Adaptation des dimensions des images
		à celles du conteneur */
	width: 100%;
	height: auto;
}

article div.images div p
{
	/* Ajustement de la position de la légende */
	padding: 15px;
	word-break: break-word;
	text-align: center;
}

article div.languages img
{
	/* Icônes des langages utilisés */
	height: 40px;
	margin-left: 24px;
}

article hr
{
	/* Séparateur entre les deux parties
		de chaque projets */
	margin: 20px 0 20px 0;
	border-color: rgb(63, 63, 70);
}

/* Liens */
article a:active, li a:active
{
	/* Passage progressif en bleu lors de l'appui
		(active + hover) */
	background: rgb(158, 103, 13);
}