/* En-tête */
header
{
	background-image: linear-gradient(to right, rgb(158, 103, 13), rgb(255, 158, 0));
}

header > img
{
	/* Vagues marquant la fin de l'en-tête */
	transform: translateY(-22.5%);
}

/* Barre de navigation */
nav > ul
{
	max-width: 437px; /* 425 de base + 12 de marge à droite  */
	background-color: rgba(255, 158, 0, 0.7);
}

/* Projets */
article
{
	/* Corps de chaque projet */
	margin: 0 10% 1.5rem 10%;
	padding: 2rem;

	color: white;
	text-align: right;

	box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.25);
	border-radius: 1rem;
	background-color: rgb(39, 39, 42);
}

article:first-of-type
{
	margin-top: calc(7.5% + 5rem);
}

article div:first-child h1
{
	/* Nom du projet */
	text-align: left;
	line-height: 32px;
}

article div:first-child p
{
	/* Description du projet */
	text-align: justify;
	line-height: 26px;
}

article div:first-child img
{
	/* Icône du projet */
	float: left;
	height: 64px;
	margin-right: 32px;
}

article div:nth-child(2) img
{
	/* Galerie photos */
}

article div:last-child img
{
	/* Icônes des langages utilisés */
	height: 40px;
	margin-left: 24px;
}

article hr
{
	/* Séparateur entre les deux parties
		de chaque projets */
	margin: 20px 0 20px 0;
	border-color: rgb(63, 63, 70);
}

/* Liens */
article a:active, li a:active
{
	/* Passage progressif en bleu lors de l'appui
		(active + hover) */
	background: rgb(158, 103, 13);
}