/* ------- */
/* En-tête */
/* ------- */
header
{
	background-image: linear-gradient(to right, rgb(28, 158, 77), rgb(25, 235, 112));
}

header > img
{
	/* Vagues marquant la fin de l'en-tête */
	transform: translateY(-25%);
}

/* Barre de navigation */
nav > ul
{
	max-width: 372px; /* 360 de base + 12 de marge à droite  */
	background-color: rgba(25, 235, 112, 0.7);
}

/* ----------------- */
/* Parcours scolaire */
/* ----------------- */
#school
{
	color: rgb(161, 161, 170);

	--offset: calc(5% + 5rem);
	padding: var(--offset) 20% var(--offset) 20%;
}

#school > h2
{
	/* Titre de la section */
	color: white;
	margin: 0 0 4rem;
	font-size: 1.5rem;
}

#school > h3
{
	/* Identifiant de la section */
	font-weight: 400;
	margin-bottom: 0.5rem;
}

/* ----- */
/* Liens */
/* ----- */
article a:active, li a:active
{
	/* Passage progressif en vert lors de l'appui
		(active + hover) */
	background: rgb(28, 158, 77);
}