/* --------------- */
/* Document entier */
/* --------------- */
html
{
	/* Variables globales */
	--theme-color-dark: 28, 158, 77;
	--theme-color-bright: 25, 235, 112;
}

hr
{
	/* Séparateur entre les deux sections */
	margin: 0 5% 0 5%;
	border-color: rgb(161, 161, 170);
}

/* ------- */
/* En-tête */
/* ------- */
header > img
{
	/* Vagues marquant la fin de l'en-tête */
	transform: translateY(-25%);
}

/* ------------------- */
/* Barre de navigation */
/* ------------------- */
nav > ul
{
	max-width: 372px; /* 360 de base + 12 de marge à droite  */
}

/* ----------------- */
/* Parcours scolaire */
/* ----------------- */
#school
{
	/* Corps de la section */
	color: rgb(var(--theme-text-color));
	padding: calc(5% + 5rem) 5% 3rem 5%;
}

#school > h2, #work > h2
{
	/* Titre de la section */
	color: white;
	margin: 0 0 4rem;
	font-size: 1.5rem;
}

#school > h3, #work > h3
{
	/* Identifiant de la section */
	font-weight: 400;
	margin-bottom: 0.5rem;
}

#school article
{
	/* Corps de chaque partie */
	width: 50vw;
	padding: 1rem;
	display: table-cell;
}

#school article > h3
{
	/* Titre de chaque partie */
	text-decoration: underline;
}

/* Liste des formations */
#list ul
{
	/* État initial des formation */
	padding: 0;
	list-style-type: none;
}

#list li
{
	margin: 0 0 0.5rem;
	padding: 1rem 2rem 1rem 2rem;
	position: relative;
	user-select: none;
	background-color: rgb(var(--theme-box-color));
}

@media screen and (max-width: 1024px)
{
	/* Modification de la disposition sur
		les petits écrans (mobiles et tablettes) */
	article#summary
	{
		/* Suppression des marges du résumé
			de la formation */
		margin: 0;
		padding: 0;
	}

	#school article
	{
		/* Taille automatique des formations */
		width: auto;
		margin: auto;
		display: block;
	}

	#school article > h3, #summary ul
	{
		/* Disparition des titres et du résumé
			de la formation */
		display: none;
	}
}

#list li:before
{
	/* Barre horizontale à gauche */
	top: 0;
	left: 6px;
	width: 3px;
	bottom: 0;
	content: "";
	position: absolute;
	background-color: rgb(var(--theme-color-bright));
}

#list li:after
{
	/* Ancre sur la barre */
	top: calc(50% - 7.5px);
	left: 0;
	width: 15px;
	height: 15px;
	content: "";
	position: absolute;
	background-image: url("../images/decorations/timeline_marker.svg");
}

#list li:hover
{
	/* Sélection d'une formation */
	background-size: cover;
	background-image: url("../images/placeholder.svg"); /* Doit être modifié depuis le JS */
	background-color: rgb(var(--theme-color-bright));
	background-repeat: no-repeat;
	background-position: 15px center;
}

#list li:hover > *
{
	color: transparent;
}

#list li:hover > img
{
	display: none;
}

#list h4, #list h5
{
	/* Titre et option du diplôme */
	color: white;
	margin: 1rem 0 1rem;
	font-size: 1.25rem;
}

#list img
{
	/* Image représentant un diplôme */
	right: 0;
	width: 3rem;
	margin: 0.25rem;
	bottom: 0;
	position: absolute;
}

/* Résumé des formations */
#summary ul
{
	padding: 0;
	list-style-type: none;
}

#summary li
{
	height: 250px; /* Doit être modifié depuis le JS */
	text-align: justify;
	line-height: 1.5rem;
}

/* ---------------------------- */
/* Compétences professionnelles */
/* ---------------------------- */
#work
{
	/* Corps de la section */
	margin: 5% 10% 0 10%;
}

#work > h3
{
	/* Identifiant de la section */
	color: rgb(161, 161, 170);
}

#work article
{
	/* Corps de chaque article */
	padding: 2rem;
	background-image: linear-gradient(to right, rgb(var(--theme-color-dark)), rgb(var(--theme-color-bright)));
}

#work article h2
{
	/* Titre de chaque article */
	margin-bottom: 2rem;
	text-decoration: underline;
}

#work > img:first-child
{
	/* Vagues marquant le début de la section */
	left: 0;
	z-index: -1;
	position: absolute;
	transform: translateY(-55%);
	min-width: var(--html-min-width);
	max-width: 100%; /* Correction débile pour Firefox */
	min-height: 400px;
}

#work > img:last-child
{
	/* Vagues marquant la fin de la section */
	left: 0;
	z-index: -1;
	position: absolute;
	transform: translateY(-35%);
	min-width: var(--html-min-width);
	max-width: 100%; /* Correction débile pour Firefox */
	min-height: 400px;
}

/* Expériences */
#experiences
{
	margin-bottom: 2rem;
}

/* Compétences */
#competences
{
	/* Corps de l'article */
	margin-bottom: 7.5%;
}

#competences hr
{
	/* Séparateur avec les expériences */
	margin: 2rem 0 2rem 0;
	border-color: white;
}

#competences p
{
	/* Descriptif des compétences */
	text-align: justify;
	line-height: 1.5rem;
}

#competences span
{
	/* Titre de la compétence */
	position: absolute;
	transform: rotate(0);
}

#competences .circle
{
	/* Bordures du cercles */
	border: 10px solid rgb(var(--theme-box-color));
	border-radius: 50%;

	/* Dimensions et disposition */
	width: 5rem;
	height: 5rem;
	display: inline-block;
	margin-right: 2rem;
}

@media (prefers-reduced-motion: no-preference)
{
	/* Lancement d'une animation de rotation (disponible uniquement
		si l'utilisateur n'a pas demandé à réduire les animations) */
	#competences .circle
	{
		animation: spin 2s linear;
	}
}

#competences .circle[data-level = "25"]
{
	/* Niveau à 25% (débutant) */
	border-top: 8px solid dodgerblue;
}

#competences .circle[data-level = "50"]
{
	/* Niveau à 50% (correct) */
	border-top: 8px solid green;
	border-left: 8px solid green;
}

#competences .circle[data-level = "75"]
{
	/* Niveau à 75% (bon) */
	border-top: 8px solid orange;
	border-left: 8px solid orange;
	border-right: 8px solid orange;
}

#competences .circle[data-level = "100"]
{
	/* Niveau à 100% (excellent) */
	border: 8px solid red;
}

@keyframes spin
{
	/* Animation de rotation de 0 à 360 degrés */
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}